[2019-02-14 15:46] iantalarico opened #6 "Debugging Docs are not linked from the main feature tour"
Debugging Docs are not linked from the main feature tour.  They are also still in the TODO folder

[2019-02-14 15:47] iantalarico opened #7 "Clean up TODOs"
We currently have a large number of TODOs in the docs, if someone has time can they fixe these up?

[2019-02-14 15:49] iantalarico opened #8 "Spilt up feature tour"
Currently the feature tour is one very large doc. It would be nice if it had high level sections and linked into other more detailed bits (like the debugger one Quoc wrote).  Can someone take a look at this?

[2019-02-14 22:31] #6 closed, assigned to quoctruong

[2019-02-21 03:26] mittz opened #18 "Get metrics of pods and nodes"
Great extension! I'd like to recommend this to everyone.
This is just a feature request. Can we get Pod and Node metrics (a.k.a kubectl top)? I wish I could see these in the tree view.

Thank you in advance.

[2019-02-25 17:19] PierreBesson opened #21 "Allow to `kubectl edit` any Kubernetes resource of the cluster"
As of version 0.0.1, it is possible to open any Kubernetes resource of the cluster in the editor as shown in the screenshot below.

<img width="1407" alt="screenshot 2019-02-25 at 18 06 27" src="https://user-images.githubusercontent.com/513471/53355370-27760880-3929-11e9-8575-793dd0f56dc2.png">

It would be very useful to be able to edit the file in the current buffer and then when saving it would

[2019-02-25 20:12] yuriatgoogle opened #22 "(Multiple?) Issues with trying to add a cluster"
I have an existing GKE cluster I'd like to add to VS Code.  I was able to set my project, and my clusters are available for selection, but actually trying to select one yields an error:

![image](https://user-images.githubusercontent.com/26609620/53365587-76ef1100-38f6-11e9-913c-79bae47395de.png)

command 'kubectlExtension.refreshKubectlExplorer' not found

I then tried to manually refresh the Exp

[2019-02-25 20:30] yuriatgoogle opened #23 "[Enhancement] Can't unpin project"
I'd like to remove a project from the treeview:

![image](https://user-images.githubusercontent.com/26609620/53366626-e6fe9680-38f8-11e9-95d8-36b44f39950e.png)

I can unpin the second project:
![image](https://user-images.githubusercontent.com/26609620/53366683-0bf30980-38f9-11e9-8665-69964d4608cb.png)

But not the first?
![image](https://user-images.githubusercontent.com/26609620/53366713-157c718

[2019-02-25 20:32] yuriatgoogle opened #24 "Can't create new application"
I don't have the commands to create a new application as per https://github.com/GoogleCloudPlatform/vscode-extensions-docs/blob/master/create_application.md

![image](https://user-images.githubusercontent.com/26609620/53366791-4bb9f100-38f9-11e9-83ed-69f778eed452.png)

[2019-02-25 20:38] #24 closed, assigned to nobody

[2019-02-26 05:14] mittz opened #25 "List Persistent Volumes and Persistent Volume Claims"
I may just missed this but can we see PVs and PVCs in the tree view? If we could see them without running commands, it must be so helpful.
If we can't see it now, this is just an enhancement issue.

Thank you,

[2019-02-26 10:29] feloy opened #26 "Configmaps not visible in the Kubernetes explorer"
When I explore a bare-metal k8s cluster, containing configmaps, the explorer does not show these configmaps. It would be very helpful to see these configmaps, in the same manner we can see the secrets.

[2019-02-26 11:02] feloy opened #27 "Statefulsets are not visible in the Kubernetes explorer"
It would be helpful to see in the Kubernetes explorer the Statefulsets existing in the k8s cluster, in the same manner we can see Deployments.

[2019-02-26 11:10] feloy opened #28 "Streaming logs from Explorer does not work"
When I start to "Stream logs" from a contextual menu of a Pod, I get a new popup "Streaming logs on container ... of pod ... " which seems to never close and no new window is opened to show me the logs.

When I click "Cancel" on this popup, a window with the logs appears, but the logs are not streamed any more.

[2019-02-27 15:41] femrtnz opened #30 "As Developer with access restricted only to my namespace, I don't see any workloads"
<b>Environment</b>:
Extension Version: 0.0.1
VSCode version: 1.31.1
OS version: darwin

<b>As Developer with access restricted only to my namespace, I don't see any workloads:</b>

[2019-02-27 15:45] femrtnz opened #31 "Permission denied when try to set active/remove cluster"
<b>Environment</b>:
Extension Version: 0.0.1
VSCode version: 1.31.1
OS version: darwin

<b>Description:</b>
Permission denied when try to set active/remove cluster
<b>Repro step:</b>

1 - Right click on a cluster and click "set as Active Cluster"

2 - Right click on a cluster click "remove cluster"

[2019-03-01 10:47] #31 closed, assigned to quoctruong

[2019-03-04 09:11] jstrachan opened #32 "List CRDs"
I've used the Microsoft VS Code extension for Kubernetes which lets you nicely view all the CRDs in a cluster along with all the other resources in k8s (Jobs, PVCs, Ingress, ConfigMap etc) which is super handy - here's a screenshot to show the kinda thing.  In this case we can view the various CRDs from my cluster which includes CRDs from Prow, tekton, Istio & Jenkins X:

<img width="718" alt="crd

[2019-03-05 17:24] remyleone opened #33 "Cannot push to registries"
I get the following errors when I try to push the images:

[code]

I've got `docker login` working fine and the resources in Kubernetes are also showing up.

[2019-03-06 13:01] PierreBesson opened #34 "Allow loading a kubeconfig file from a non default location"
## Motivation and use case
This is my understanding that the extension executes `kubectl` behind the scenes. As such the kube-config file used is the default `~/.kube/config` with no ability to use a different one.

When managing several clusters, it is frequent to have several of those kube-config files on your machine and to frequently switch between them. The ways to switch between them is to u

[2019-03-07 00:52] rakshasa-1729 opened #35 "RBAC Roles For the current user"
RBAC roles within the cluster displayed for the current user and its privileges will be a useful addition

[2019-03-08 00:39] PrahathessRaghavan opened #36 "Enabling Google cloud API services"
This is a part I dont enjoy doing in Gcloud UI as well.

The flow :

Try to deploy / create stuff and later find out that you need to enable a relevant api on the console. This sort of breaks the train of thought and  sometimes can be very annoying from the UX perspective.

The Fix:

Given that this can be shelled out or scripted , for a set of actions user wants to do present him upfront with a c

[2019-03-08 10:35] zbbfufu opened #37 "Documentation: which vsix package to install ?"
Hi,

Documentation specify to install vsix package, but it's not clear if we have to install all of them, or even if there are dependencies between them.
Do I have to install `cloudcode-kubernetes` to do kubernetes on GKE, or is `cloudcode-gke` enough ?

[2019-03-08 12:43] zbbfufu opened #38 "Minikube dashboard should not require to be admin/root depending on driver"
<b>Environment</b>:
Extension Version: Not Found
VSCode version: 1.32.1
OS version: darwin

<b>Description:</b>
Minikube Dashboard display error message `Error getting Minikube status: Minikube needs admin privileges` before refreshing status or starting/stopping minikube instance.

Running Minikube as admin/root is required with Minikube driver 'None' (running kubernetes on local kernel), but not

[2019-03-11 14:23] remyleone opened #39 "Undefined frontend-external"
Hello,

After a Code-deploy I get the following error:

[code]

Here are the source I use

[code]

[code]

[code]

[code]

[2019-03-12 07:53] gaelleacas opened #40 "Add confirm message on "Sign-out of gcloud" action"
Hi

First, thanks for building this king of k8s dev tool!

I'm currently testing Google K8s Engine explorer, & more precisely the "Sign-out of gcloud"  action (last icon on screen):
![Signout](https://user-images.githubusercontent.com/45974033/54182775-b5fa9600-44a2-11e9-8bf1-bdd1d3a91631.png)

It would be nice to have a confirm message before to execute de logout. I was surprised to see the 'gclo

[2019-03-12 19:43] #40 closed, assigned to redborian

[2019-03-12 20:35] owais opened #41 "Cannot use without RBAC access to list nodes"
My role for one of the existing clusters does not have access to list nodes but can access other resources. The plugin fails to list anything under the cluster with the error;

[code]

[2019-03-13 17:48] #22 closed, assigned to nobody

[2019-03-13 18:04] #41 closed, assigned to quoctruong

[2019-03-14 08:53] feloy opened #42 "Get the environment for a container"
In the Kubernetes explorer, alongside the Container details (Image, Restarts count, Ready, Status, Last exit status), it would be helpful to get the environment variables defined for a container

These env vars are available in the output of kubectl describe:

[code]

[2019-03-14 16:34] #28 closed, assigned to quoctruong

[2019-03-14 16:35] #26 closed, assigned to quoctruong

[2019-03-14 16:35] #32 closed, assigned to quoctruong

[2019-03-15 10:53] #37 closed, assigned to nobody

[2019-03-15 14:02] gaelleacas opened #43 "CRD's under Namespace item"
Hi

Great new release ! Well done 👏

Like it's mentioned in this [suggestion](https://github.com/GoogleCloudPlatform/cloud-code-vscode/issues/32) CRD's should be under Cluster item, not under "Namespace" item.

In my case it is arbitrarily under "kong" namespace. CRD's under "default" don't work :

![Capture d'écran 2019-03-15 14 57 16](https://user-images.githubusercontent.com/45974033/54436366-

[2019-03-15 14:31] feloy opened #44 "Exploring the ownerReferences of objects"
With the apparition of the CRDs, it would be interesting to display in the K8s explorer the links between an object and its ownerReferences.

That would also work with Deployment / ReplicaSet / Pod:
In the Deployment tree, we could see the Replicaset owned by the Deployment, and in a Replicaset, we could see the Pods owned by the Replicaset.

In CRDs in general, it is usual that the operator creat

[2019-03-15 15:18] jonbcampos opened #45 "Feature Request: Helm Support"
I think the title says it all, but I'll go into it more.

For our team we are helm heavy. It really makes working with Kubernetes and Spinnaker much easier for all of our deployments and build artifacts. Adding helm support would make things a lot easier for me to work with this plugin.

[2019-03-16 02:19] #39 closed, assigned to sujit-kamireddy

[2019-03-19 08:34] marcfong opened #47 "FR: Allow port-forward and attaching terminal to pods/services"
<b>Environment</b>:
Extension Version: 0.0.3
VSCode version: 1.32.2
OS version: darwin

<b>Description:
Feature request: Add right click menu capability to directly port forward or terminal attach into a pod or service.
</b>

<b>Repro step:</b>

[2019-03-24 14:25] kostis-codefresh opened #48 "FR: Allow user to add pull secrets to the cluster from the GUI"
I created the sample Java application and tried to deploy it with Cloud Code: deploy to a local cluster.

The deployment failed because the cluster did not have access to the Docker registry I used for deployment.

Maybe mention this in the deployment guide? Or even better allow the user to create pull secrets from the Kubernetes explorer?

[2019-03-24 14:36] kostis-codefresh opened #49 "Clarify support for local clusters on Docker for desktop, microk8s"
Apart from Minikube, Mac/Win users can also create a local cluster with Docker for desktop. Linux users also may have a local cluster with microk8s.

It would be good for the docs to specify is these options are supported or not.

[2019-03-28 10:13] marcfong opened #50 "FR: template generation for ingress manifest"
Please add template generation for Ingress objects. (current only pods, Deployments, etc are available)

[2019-03-28 14:16] #50 closed, assigned to quoctruong, sujit-kamireddy

[2019-03-28 20:48] #7 closed, assigned to quoctruong, redborian, sujit-kamireddy

[2019-03-28 20:48] #8 closed, assigned to quoctruong, redborian, sujit-kamireddy

[2019-03-29 17:04] #43 closed, assigned to quoctruong

[2019-03-29 17:04] #42 closed, assigned to quoctruong

[2019-03-29 17:05] #35 closed, assigned to quoctruong

[2019-03-29 17:05] #30 closed, assigned to quoctruong

[2019-03-29 17:05] #27 closed, assigned to quoctruong

[2019-03-29 17:05] #25 closed, assigned to quoctruong

[2019-04-02 13:46] femrtnz opened #54 "Stream logs from multiple pods(across all containers) simultaneously"
<b>Environment</b>:
Extension Version: 0.0.4
VSCode version: 1.32.2
OS version: darwin

<b>Description:</b>
Would be great if we could stream logs from multiple pods, similar to what we can get using [stern](https://github.com/wercker/stern) or using `--all-containers` flag

[2019-04-10 07:22] idanya opened #63 "Cannot diff a yaml file with deployed cluster resource"
**Environment**:
Extension version: 0.0.7
VSCode version: 1.33.0
OS: darwin

**Description**:
Cannot use "Diff the current YAML file with Kubernetes deployed resource" feature.
Opening a YAML file which is deployed to the cluster (after setting the cluster as the active one) gives the message:
`Can't diff - The open document contains some items that are not Kubernetes resource`

Also trying to app

[2019-04-10 13:46] iantalarico commented on #63
@idanya Do you happen to have a copy of the YAML you can share? Or an example YAML that will trigger this?

[2019-04-10 14:50] redborian commented on #63
I do have a repro for this. Will fix it.

[2019-04-10 18:41] idanya commented on #63
Found the issue (or not issue).

Some of my yaml files had multiple objects in them separated with `---`.
Some files just had `---` at the end (which probably broke the parsing).
So don't know if the feature should support multiple objects or not but with single object files all is working well.

[2019-04-10 18:43] redborian commented on #63
Thanks Idan. We will support that scenario in a future release.

[2019-04-10 18:48] #63 closed

[2019-04-10 19:10] stm9443 opened #64 "Cloud Code extension can not find kubectl or gcloud binaries"
**Environment**:
Extension version: 0.0.7
VSCode version: 1.33.0
OS: darwin

**Description**: Cloud Code extension is unable to locate the kubectl or gcloud binaries.  Both binaries were installed as a part of the gcloud components.  I have updated all of the gcloud components.  Typing "which" in the VSCode integrated terminal for both commands points to the correct "google-cloud-sdk/bin" director

[2019-04-10 19:16] redborian commented on #64
I suspect they are not truly being added to your $PATH variable. Can you try opening VS Code from a terminal that has gcloud in its $PATH variable?

[2019-04-10 19:35] stm9443 commented on #64
That worked, thanks.  So, the path isn't being set correctly when opening VS Code via the .app in macOS.  Is that a bug or did I miss a setting somewhere?

[2019-04-10 19:46] redborian commented on #64
That is great! You would need to add it into your login shell. Please refer to tips from [here].(https://apple.stackexchange.com/questions/106778/how-do-i-set-environment-variables-on-os-x)

[2019-04-10 21:18] glevine opened #65 "CD support in monorepo"
**Use case**
My team has a monorepo with many services. Each service has its own k8s configurations -- each service has its own k8s folder. Running `skaffold dev` from within a single service's k8s folder -- where the `skaffold.yaml` for that service lives -- will deploy the service to the specified cluster.

**Feature**
It appears that Cloud Code looks for a `skaffold.yaml` at the root of the pro

[2019-04-11 00:02] ekimia opened #66 "Error relaunching debugger"
**Environment**:
Extension version: 0.0.7
VSCode version: 1.33.0
OS: darwin

**Description**:
If you the debugger is unable to attach, you are unable to start another debug session without hitting a "This launch configuration is already running" error.
**Repro step**:
- For the python example, *dont* run the app with the python debugger enabled
- Try debugging. It will fail to connect.
- Run the a

[2019-04-11 00:21] quoctruong commented on #66
@ekimia When the debugger failed to connect the first time, did the session stop for you? Or does it still linger there? It would also be great if you can attach a screenshot for this.

[2019-04-11 00:22] ekimia commented on #66
it lingers. 1 sec ill add a screenshot

[2019-04-11 00:25] ekimia commented on #66
initial error case:
<img width="538" alt="Screen Shot 2019-04-10 at 5 23 27 PM" src="https://user-images.githubusercontent.com/357513/55922311-829c4b80-5bb5-11e9-8f0a-44ee282adec7.png">

After reenabling the debugger:
<img width="644" alt="Screen Shot 2019-04-10 at 5 24 13 PM" src="https://user-images.githubusercontent.com/357513/55922320-89c35980-5bb5-11e9-9743-23e94c063a12.png">

Totally get thi

[2019-04-11 00:34] quoctruong commented on #66
@ekimia Thank you for trying out the debug feature. Yes, I can repro this as well. Most likely a bug from the extension not terminating the session. Will fix this.

[2019-04-11 01:17] #64 closed

[2019-04-11 05:48] scraly opened #67 "Can't see the stream logs in a deployment if there are several containers into it"
Hi,

I want to see the logs of my deployments.
I selected one of my cluster, then right click on one of my deployment and then clicked on "stream logs" action.

The result:

Streaming Logs from deployment my-deployment
Found 3 pods, using pod/my-deployment-7df1234fb9-fj2zr
Error from server (BadRequest): a container name must be specified for pod my-deployment-7df1234fb9-fj2zr, choose one of: [my-

[2019-04-11 12:42] c0h1b4 commented on #38
Any workarounds before the next release?

[2019-04-11 13:30] c0h1b4 opened #68 "Application deployment failed/aborted."
**Environment**:
Extension version: 0.0.7
VSCode version: 1.33.0
OS: darwin

**Description**:
time="2019-04-11T10:24:54-03:00" level=fatal msg="deploy failed: reading manifests: kubectl create: Running [kubectl --context docker-for-desktop create --dry-run -oyaml -f /Users/mauro/cloudcode-projects/nodejs-hello-world-1/kubernetes-manifests/hello.deployment.yaml -f /Users/mauro/cloudcode-projects/no

[2019-04-11 14:49] iantalarico commented on #38
@redborian Can you look into this?

[2019-04-11 14:56] iantalarico commented on #67
@scraly Thanks for the feedback!

@quoctruong Can you take a look at this?

[2019-04-11 14:59] iantalarico commented on #68
@c0h1b4 Can you provide some more details?
- What version of kubectl are you using?
- Are you deploying to minikube, docker desktop or something else?

[2019-04-11 16:03] redborian commented on #38
The only workaround for now would be to run VS Code with admin privileges.
This will be fixed in our next release.

[2019-04-11 16:19] quoctruong commented on #68
@c0h1b4 We are improving the skaffold integration in the extension and this should address this problem. In the mean time, a workaround is to reload vscode.

[2019-04-11 16:57] quoctruong commented on #67
@scraly As a temporary workaround, you can right click on the container and stream logs from it. I will work to improve this experience.

[2019-04-11 22:33] drush1980 opened #69 "Unable to deploy to GKE without local docker install"
**Environment**:
*(Hint: "Report Kubernetes Extension Issue on Github" command will fill these out for you.)*
Extension version: 0.0.7
VSCode version: 1.33.1
OS: MacOS Mojave

**Description**:
I do not have docker installed locally and wish to deploy to GKE clusters instead. When I choose the Deploy action I do not get prompted to pick the cloudbuild profile. Instead I just get an error that docke

[2019-04-12 01:28] fcwu opened #70 "Kubectl command config view --output json failed"
**Environment**:
Extension version: 0.0.7
VSCode version: 1.33.1
OS: linux

**Description**:
Cluster created by minikube failed to detect in CLUSTER EXPLORER. Press refresh it show "Kubectl command config view --output json failed."
In terminal,
[code]

**Repro step**:
press refresh

[2019-04-12 12:31] feloy opened #71 "Set new image for a controller (statefulset / Deployment / etc) and create necessary pull secret"
**Use case**

I have deployed an application that pulls images from a registry (let's say the Prod registry). As a developer, I want to change the image of a statefulset / deployment to debug my app, and this image is stored in a registry (let's say the Dev registry), potentially different from the Prod registry.

**Feature**

The recurrent problem, in this case, is that you have to create a pull

[2019-04-12 20:52] jicowan opened #73 "aws-iam-authenticator not in $PATH"
**Environment**:
Extension version: 0.0.7
VSCode version: 1.33.1
OS: darwin

**Description**:
Cannot list namespaces: Unable to connect to the server: getting credentials: exec: exec: "aws-iam-authenticator": executable file not found in $PATH
. The Kubernetes Explorer will use the current namespace.

I am able to manage clusters from the integrated VS Code terminal (using kubectl), but when I try

[2019-04-12 21:09] redborian commented on #73
Thanks for reporting the issue. We rely on `eksctl` to provision EKS clusters. Can you see if the discussion here helps solve your issue? https://github.com/weaveworks/eksctl/issues/169
For your second question, can you elaborate on which YAML schema are you looking for?

[2019-04-12 21:11] jicowan commented on #73
Sorry I mean json.  I'm looking for the all of the options you can add to the settings.json file for the cloud code extension. `eksctl` doesn't install the aws-iam-authenticator.  You have to install that separately.

[2019-04-12 21:17] redborian commented on #73
You would need to run `"Open Settings(UI)"` command in VS Code. In that, under `Extensions` -> `Cloud Code`, you would be able to find the extension's settings.
For your main issue, can you run VS Code from a terminal that has `aws-iam-authenticator` in its PATH already? This seems similar to this issue: https://github.com/GoogleCloudPlatform/cloud-code-vscode/issues/64

[2019-04-12 21:20] jicowan commented on #73
Yes, I can run `kubectl` from the vscode terminal pane and connect to my clusters.  The aws-iam-authenticator is in my path.

[code]

[2019-04-12 21:28] redborian commented on #73
VS Code terminal would run its own bash initialization (.bashrc, .bash_profile etc). If you can confirm that you are indeed starting VS Code from a terminal, that would be helpful in troubleshooting this issue.
What is the value of `users.user.auth_provider.config` in your '.kubeconfig' file? (Without the access token)

Our extension just uses the command in kubeconfig file to connect to the clust

[2019-04-12 21:35] jicowan commented on #73
I am not starting vscode from a terminal.  I'm launching it from OSX; it's in my dock.

I don't have `auth_provider` in my kubeconfig file.  This is what my kubeconfig looks like:

[code]
The kubeconfig was generated by `eksctl`.

[2019-04-12 21:38] redborian commented on #73
Thanks for that information @jicowan. If you try starting it from the terminal, or add `/usr/local/bin/` to your login shell `$PATH` variable, it should work.
We will improve this experience in the upcoming releases.

[2019-04-12 21:47] jicowan commented on #73
Launching it from a terminal works.  Thanks.

[2019-04-12 22:00] redborian commented on #70
@fcwu, can you confirm that you are indeed able to access the cluster through the command line?

[2019-04-12 22:41] fcwu commented on #70
@redborian
Sceenshot as following
<img width="1440" alt="Screen Shot 2019-04-13 at 6 34 09 AM" src="https://user-images.githubusercontent.com/165370/56069585-4dab1700-5db6-11e9-8301-a0da8c7acb36.png">

I am not sure it's useful for you that `kubectl` was installed by snap. So I made a link from /snap/bin/kubectl to /usr/local/bin/.

[2019-04-12 22:45] fcwu commented on #70
BTW, it worked before when I had a kubectl v1.10 at /usr/local/bin/. But it's too old (API mismatch) to deploy an application. So I removed it and install the latest one by snap and link it to /usr/local/bin/.

[2019-04-12 22:54] redborian commented on #70
Looks like it is unable to find `kubectl` at `$PATH`. Can you try opening VS Code from a terminal that has `kubectl` in `$PATH`?

[2019-04-12 23:22] Spencer-Easton opened #74 "Context is not set in kubectl."
**Environment**:
Extension version: 0.0.7
VSCode version: 1.33.1
OS: linux

**Description**:
Cloud Code: Deploy returns output

From the command line I see:
[code]
I then even used command

After following the prompts I got the response
`Successfully set cluster "hello-world-server" as current context.`

I still got the error

[2019-04-12 23:47] redborian commented on #74
Are you using multiple `.kubeconfig` files? Or, are you using custom KUBECONFIG environment variable?

[2019-04-13 01:46] MattMorgis opened #75 "DigitalOcean Kubernetes"
**Feature**
**What are you trying to do that our extension doesn't let you?**

Create a [DigitalOcean Kubernetes](https://www.digitalocean.com/products/kubernetes/) cluster.

[2019-04-13 07:45] elebeaup commented on #70
I have the same issue. I have configured a kubernetes cluster by microk8s (snap). Vscode was installed by snap and also `kubectl` (included in microk8s installation).

Through the vscode terminal, `kubectl config view` works.

In the meantime, my workaround is to install kubectl using native package management and it works. My cluster is detected.

[2019-04-14 17:35] aszenz commented on #70
@elebeaup  Same for me, working with native package but not with snap.
Also received this error for deploy command: `Kubernetes context is not set` for snap version of kubectl, but working fine with the apt package.

[2019-04-15 01:34] fcwu commented on #70
@elebeaup workaround works for me.
@redborian you may close this issue.

[2019-04-15 17:11] alfietham opened #76 "Deployment Profile Wizard spins indefinitely when creating Deployment Profile"
**Environment**:
Extension version: 0.0.7
VSCode version: 1.33.0
OS: darwin
Skaffold version: 0.26.0

**Description**:
When using the Deployment Profile Wizard to create a Deployment Profile, the Wizard is stuck loading indefinitely. When tab is closed, the output shows: `The workspace is not supported as it does not have the deployment config (skaffold.yaml). Please create one and try again.`

Fo

[2019-04-15 17:17] redborian commented on #73
I will go ahead and close this issue. We will update our FAQ section to include this.

[2019-04-15 17:17] #73 closed

[2019-04-15 17:28] redborian commented on #76
Thanks for your feedback and for the workaround! Appreciate it. We will investigate this issue and update this thread.

[2019-04-15 18:06] iantalarico commented on #75
Hey Matt,

Great suggestion.  This isn't in our immediate plan but we will look into this for future work.

Thanks
Ian

[2019-04-16 05:55] moltar commented on #34
This is a must-have feature IMO.

When I spin up development clusters, I never co-mingle the config files to prevent accidents.

I find myself  often spinning up clusters via `k3s` and putting the config in `/tmp/kubeconfig.json` or inside the dir I am currently working in.

Would be great to be able to:

- Define the default location per project in `.vscode/settings.json` file
- Load any config f

[2019-04-16 13:02] mma-pivotal opened #77 "GOOGLE_APPLICATION_CREDENTIALS settings via settings.json."
**Environment**:
Extension version: 0.0.7
VSCode version: 1.33.1
OS: Windows 10 Pro

**Description**:
I created a sample go app with cloud-code plugin and then trying to deploy application onto GKE.
Get the following errors from output screen.

[code]

My understanding is that I need to setup Environment Variable GOOGLE_APPLICATION_CREDENTIALS with the following command.

`$env:GOOGLE_APPLICATION_

[2019-04-16 13:15] rsoutar opened #78 "Editing YAML is not show snippets"
**Environment**:
Extension version: 0.0.7
VSCode version: 1.33.1
OS: MacOS Mojave

**Description**:
I have a test cluster running which show up on both Cluster Explorer and GKE Explorer. I then `Command + Shift + P` and select `New Application`. I choose `Node.js: Hello World`.

Then I open `kubernetes-manifests/hello.deployment.yaml` and try to use Edit YAML by using `Command + Space`. It show a

[2019-04-16 14:31] redborian commented on #77
This is a known issue. A workaround would be to run `gcloud auth application-default login` once from your terminal. We will make this experience better in future releases.

[2019-04-16 14:38] iantalarico commented on #78
@redborian Can you take a look at this?  Looks like and issue with the language server

[2019-04-16 14:48] redborian commented on #78
@rsoutar Are you seeing this error message in the "Cloud Code Yaml Support" output channel?

[2019-04-16 15:16] iantalarico commented on #34
This is great feedback everyone, thank you!  We will be sure to get this into a future release.

Out of curiosity:
- How many kubeconfig files do each of you work with?
- Do you ever want to work with multiple kubeconfig files at the same time?

[2019-04-16 15:30] rsoutar commented on #78
@redborian I saw it on VSCode when I press the keyboard shortcut for `Cloud Code: Edit YAML`

<img width="1031" alt="Screen Shot 2562-04-16 at 22 29 30" src="https://user-images.githubusercontent.com/13177655/56222999-2777c680-6097-11e9-8456-dbafe7d29570.png">

[2019-04-16 15:45] msgongora opened #79 "FR - Allow scale workloads like deployments through explorer"
**Use case**
This FR is in the DevOps side of this awesome addon.
From the perspective of a developer who never has interacted with k8s yaml it's kind of scaring having to edit them. That's why I think it will be nice if they could just hit right click at a workload level and select scale from the explorer. or maybe edit the section `Desired Replicas: X` under the workload level. I know this can b

[2019-04-16 17:35] rsoutar commented on #74
Hi,

This might be a similar issue.

I had multiple clusters and projects on GCP. And when I choose which will be an active cluster. Somehow it still switch back to the old cluster while I do `Cloud Code: Deploy`.

My workaround is to remove context which I'm not going to use on the particular project. Then exit VSCode and open it again then run `Cloud Code: Deploy`

[2019-04-16 18:10] iantalarico commented on #79
@msgongora I think this is a good idea, I don't think we have bandwidth to do this right now but will keep it in mind for future work.

[2019-04-16 20:12] russwolf opened #80 ""Set as Active Cluster" doesn't update Cluster Explorer and loading message in bottom right never finishes loading"
**Environment**:
Extension version: 0.0.7
VSCode version: 1.33.0
OS: darwin

**Description**:
"Set as Active Cluster" doesn't update Cluster Explorer and loading message in bottom right never finishes loading

You can choose to manually cancel the loading message and refresh the cluster explorer and it will show that newly selected cluster.

**Repro step**:
1) Right click on a cluster within a pro

[2019-04-16 20:39] russwolf opened #81 "Opening AWS Settings actually opens the settings.json for GKE"
**Environment**:
Extension version: 0.0.7
VSCode version: 1.33.0
OS: darwin

**Description**:
Opening AWS Settings actually opens the settings.json for GKE

**Repro step**:
Click on open settings for Aws in the VS Code Cloud Code settings panel

[2019-04-16 21:14] dbolkensteyn opened #82 "Allow to stop a continuous deployment"
**Use case**
After adding a `spec.containers.ports.containerPort` field to a pod in my Kubernetes Yaml file to get port-forwarding, Skaffold tried to patch the pod and failed because `ports` "cannot be updated" as specified in the doc:
[code]

So now my deployment is not in the state I want, and I want to stop it and redeploy it from scratch, instead of patching it. However I did not find how to s

[2019-04-16 21:17] balopat opened #83 "Cancelling switching to unresponsive kubecontext"
**Environment**:
Extension version: 0.0.7
VSCode version: 1.32.3
OS: linux

**Description**:

I tend to create and delete GKE clusters, thus I have a bunch of stale kubecontext definitions. When I click into a non-existing one, VSCode waits until the connection times out that can take a long time. It would be great to have the ability to cancel it - or just maybe connect with a shorter timeout?

!

[2019-04-16 21:22] balopat opened #84 "Resources not found: Unexpected end of JSON Input"
**Environment**:
Extension version: 0.0.7
VSCode version: 1.32.3
OS: linux

**Description**:

In the cluster explorer, when opening certain items in the `kube-system` namespace resulted in an error seemingly:

![image](https://user-images.githubusercontent.com/635073/56244120-012f3800-6051-11e9-890a-940adfc88286.png)

After `refresh` this went away and the nodes actually loaded.

**Repro step**:

[2019-04-16 21:39] iantalarico commented on #82
@dbolkensteyn You can stop this from the status bar (see screenshots below) although I think a command to stop it from the command palette also would be good (especially if this is how you start the deployment).

@redborian Do you think we can get a command palette action for this into the next release?

Clicking here will open the command palette
![Screen Shot 2019-04-16 at 2 36 42 PM](https://us

[2019-04-16 22:51] redborian commented on #45
@jonbcampos or anyone interested in Helm support: We are doing preliminary investigation on Helm support. I was curious on how useful the following features would be:
1. Approximate auto-completion of "." values from `values.yaml`.
2. Local helm chart debugger where you would set breakpoints and view variables in current scope.

[2019-04-17 00:56] jonbcampos commented on #45
Very helpful. The auto complete is really helpful in intellij so this is
something I would use.

#2 would really save me time. I am used to running a debug version of my
charts when they have issues. To do that from the IDE even better.

These would both turn my head.

I'm happy to discuss more as needed.

On Tue, Apr 16, 2019, 5:51 PM Chandra Sekar Narayanan <
notifications@github.com> wrote:

[2019-04-17 03:45] sunnygoel8 opened #85 "Deployment with 1 replica running 2 pods"
**Environment**:

Extension version: 0.0.7
VSCode version: 1.33.1
OS:  Windows 10 Enterprise

**Description**: Deployed a `Hello world` Node.js application on GKE using Cloud code extension in VS code IDE. Kubernetes deployment had `replicas: 1` but post deploying the application, I see 2/2 when issued `kubectl get pods` command.

`PS C:\Users\sunny.goel\cloudcode-projects\nodejs-hello-world-1> ku

[2019-04-17 09:20] moltar commented on #34
3-5 of which ~ 2 are ephemeral just for testing deployments / manifests.

Just to clarify, do you mean "loaded in the sidebar at the same time", or in an abstract way?

I might be working with a couple of clusters at the same time in different term tabs.

I think having the ability to expand/collapse multiple clusters in the sidebar could be good.

The way I see it, one should be able to just add

[2019-04-17 14:38] iantalarico commented on #34
Sorry I should have been more clear. I mean in the sidebar.

Thanks for the info!

I like it!

[2019-04-17 16:05] dbolkensteyn commented on #82
Thank you @iantalarico

[2019-04-17 16:33] sunnygoel8 opened #86 "Google Client Library manager support in VS Code"
**Use case**
We would like to integrate with other API's such as cloud storage, cloud translation etc. in k8s application. And may be even with Stackdriver APIs in some cases. If this support is available in IDE, we don't even need to manually enable the APIs either using cloud console or CLI

**Feature**
Google cloud Library support in VS code, similar to IntelliJ IDE

[2019-04-17 16:38] iantalarico commented on #86
@sunnygoel8 We don't have an exact date for this but it is in our roadmap!

[2019-04-17 16:42] sunnygoel8 commented on #86
Thanks @iantalarico . and are following features as well on the roadmap for VS Code ?

- Google App Engine Support
- Cloud Storage Browser support for viewing buckets and blobs
- Stackdriver snapshot based Production workload debugging

[2019-04-17 16:43] sunnygoel8 commented on #85
Can someone help me with this issue ?

[2019-04-17 16:44] redborian commented on #85
Thanks for reporting the issue @sunnygoel8! I will look into this issue and update this thread.

[2019-04-17 16:45] sunnygoel8 commented on #85
Thanks @redborian

[2019-04-17 16:50] iantalarico commented on #86
We are planning to publish a more detailed roadmap here soon.

In the mean time:

These aren't on any explicit roadmaps but this is something we will look into as we look at feature parity between VS Code and IntelliJ

This is on the roadmap but we don't have an exact date for this.

[2019-04-17 16:52] redborian commented on #85
In `node-hello-world-548f8bb9cc-vmtbv 2/2 Running 0 48m`, `2/2` means there are two containers running inside the pod.
I just tried out the nodejs-hello-world sample and got this output:
`node-hello-world-7d9ffd565c-526cs            1/1       Running   0          1m`

You might be having local modifications to your pod template. Can you try again by creating a new application using nodejs-hello-wo

[2019-04-17 16:57] sunnygoel8 commented on #86
@iantalarico , Thanks for the quick response.

[2019-04-17 17:02] sunnygoel8 commented on #85
@redborian , My bad. Actually while creating the GKE cluster using template in VS code, I enabled "Run Istio" checkbox as well. And 2nd container in the pod doesn't belong to helloworld node.js app.

it's **istio-proxy**. Thanks for your response.

[2019-04-17 17:02] #85 closed

[2019-04-17 20:33] redborian commented on #84
@balopat Which version of `kubectl` and `gcloud` are you using?

[2019-04-17 22:18] sergi0112 opened #87 "Issue Name"
**Environment**:
Extension version: 0.0.7
VSCode version: 1.33.1
OS: win32

**Description**:

**Repro step**:

[2019-04-17 22:41] iantalarico commented on #87
@sergi0112 It looks like the description was left out.  Please feel free to reopen with details if you have them.  Thanks!

[2019-04-17 22:41] #87 closed

[2019-04-18 15:42] iantalarico commented on #33
Closing due to a lack information

[2019-04-18 15:42] #33 closed

[2019-04-18 15:50] iantalarico commented on #65
@sujit-kamireddy Can we take a look at that it would take to be sure we support cases like this?

[2019-04-18 15:52] iantalarico commented on #68
@quoctruong The Skaffold Eventing will be in the next release right?  This should fix this problem right?

[2019-04-18 15:52] #70 closed

[2019-04-18 17:27] steren opened #88 "Knative, not KNative"
Knative is lower case n.

![image](https://user-images.githubusercontent.com/360895/56379433-943caf00-61c4-11e9-8b09-26359886cbb9.png)

[2019-04-18 17:28] steren commented on #88
CC @rgregg

[2019-04-18 17:29] redborian commented on #88
Is this in the welcome page?

[2019-04-18 17:29] steren commented on #88
Yes

[2019-04-18 18:15] redborian commented on #88
I will keep this open until next release

[2019-04-18 18:52] steren opened #89 "Cluster creation form should say "Cloud Run on GKE""
The Cluster creation form has an option that say: "Enable Cloud Run"
It should say "Enable Cloud Run on GKE"

Indeed, "Cloud Run" designates by default the fully managed version of Cloud Run. To talk about the add-on that can be installed inside GKE, you must use "Cloud Run on GKE"

![image](https://user-images.githubusercontent.com/360895/56383858-bee03500-61cf-11e9-8036-b9470c83342b.png)

Also,

[2019-04-18 19:44] redborian commented on #89
Fixed in the latest release. Keeping this open until next release is out the door.

[2019-04-19 00:22] gugahoi opened #90 ""Problem loading reference" on resources"
**Environment**:
*(Hint: "Report Kubernetes Extension Issue on Github" command will fill these out for you.)*
Extension version: 0.0.7
VSCode version: 1.33.1
OS: MacOS 10.14.3

**Description**:
Most of my resources show linting errors in the first character despite them being valid.
For example the simplest svc definition has an error:

[code]
[code]

![image](https://user-images.githubusercontent

[2019-04-19 01:23] redborian commented on #90
Thanks for reporting the issue @gugahoi. Do you have any other Kubernetes specific extensions installed? Can you if "Developer: Reload window" fixes the issue? Can you check if creating a resource from snippet also errors out? Did you install the extension through the extensions store or any other way?

[2019-04-19 05:05] Maziak2520 opened #91 "cannot copy application template while running guest Linux in Virtual Box"
Extension version:
VSCode version: Version: 1.33.1
Commit: 51b0b28134d51361cf996d2f0a1c698247aeabd8
Date: 2019-04-11T08:20:22.771Z
Electron: 3.1.6
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Linux x64 4.15.0-20-generic (Linux Mint 19.2) in Virtual Box 5.2.28

**Description**:
When creating new application from template, it will not create nor copy the content to destination directory.

[2019-04-19 07:47] gugahoi commented on #90
No other kube specific extensions:

[code]

No change.

It does indeed, snippet gets filled out fine but 1st character still underlined red with similar error message.

Through the store.

[2019-04-19 15:06] redborian commented on #90
Thanks for the information @gugahoi.
Can you set `User Settings` -> `Extensions` -> `Cloud Code` -> `Yaml > Trace: Server` to `verbose` and share the output from `Cloud Code Yaml Support` output stream?

[2019-04-20 03:14] gugahoi commented on #90
Not sure where I find this stream, this is what I see in the `Log (Extension Host)` output:

[code]

[2019-04-22 14:50] redborian commented on #90
You should be able to view the `Cloud Code Yaml Support` output stream. That might be related to your original issue.
It looks like I am able to repro the output stream not showing up in one of the Macs. I will investigate the issue and update this thread.

[2019-04-22 21:37] Red-Five opened #92 "Create Cluster Machine Type Bug"
**Environment**:
Extension version: 0.0.7 (Licence to Kill)
VSCode version: 1.33.1
OS: Linux x64 4.9.0-8-amd64

**Description**:
Create a cluster, the machine type variable not working.
![image](https://user-images.githubusercontent.com/25078066/56532919-b6b42c80-6524-11e9-9bdc-3002505f02b5.png)

Note [object Object] where the machine type should be in the command.
A default n1-standard-1 machine

[2019-04-22 21:39] redborian commented on #92
Thanks for reporting this! This is a known issue and is already fixed in the upcoming release.

[2019-04-23 07:53] remcohaszing opened #93 "Add support for .gcloudignore"
GCloud using an ignore file called _.gcloudignore_. This file should be syntax highlighted as an ignore file. This can be done by adding the following to the extension’s _package.json_:

[code]

For a reference implementation, see https://github.com/Microsoft/vscode-eslint/blob/master/package.json#L273-L280

[2019-04-23 14:23] msgongora commented on #79
@iantalarico
I would work in this feature if I could :( It was me the guy asking you about the open source license after you finished GoogleNext presentation ;) I'd love to write some code for this extension.

[2019-04-23 22:55] balopat opened #94 "support v1beta8 skaffold config change: SkaffoldPipeline -> SkaffoldConfig"
See https://github.com/GoogleContainerTools/skaffold/issues/2005.
We should coordinate around these changes better - it would be great if the next version could support the change we introduced.

[2019-04-24 19:40] quoctruong commented on #66
@ekimia This should be fixed in the latest version of the release. Feel free to reopen if it still does not work for you.

[2019-04-24 19:40] #66 closed

[2019-04-24 19:42] quoctruong commented on #68
@c0h1b4 Please try again with the latest version of the extension. Thanks!

[2019-04-25 15:33] prafullkotecha opened #95 "Deployment to local minikube, of HelloWorld Spring Boot Application, doesn't read IP and port mappings from PODs and Services"
**Environment**:
Extension version: 0.0.8
VSCode version:1.34.0-insider
OS: darwin (macOS Mojave, 10.14.4)

**Description**:
Deployment succeeds, but External IP, and the port is not recognized. The IP is the host IP of minikube, which can be found in the deployed POD's yaml. I could find the port mapping using `kubectl get svc` command.

**Repro step**:
- Open `Cloud Code - Welcome` Page
- Click

[2019-04-25 17:18] redborian commented on #92
Fixed in release v0.0.8

[2019-04-25 17:18] redborian commented on #89
Fixed in release v0.0.8

[2019-04-25 17:18] #89 closed

[2019-04-25 17:18] redborian commented on #88
Fixed in release v0.0.8

[2019-04-25 17:18] #88 closed

[2019-04-25 17:18] redborian commented on #69
Fixed in release v0.0.8

[2019-04-25 17:18] #69 closed

[2019-04-25 17:20] quoctruong commented on #95
@prafullkotecha Eventually, does the external IP shows up when you run `kubectl get svc` command? What the extension does under the scene is just wait until `kubectl get svc` shows an external IP.

[2019-04-25 18:14] prafullkotecha commented on #95
@quoctruong - No. With minikube, the external IP is always in <pending> mode, and that's why we need to use the "minikube" IP, in place of external IP. I found this out while trying to deploy knative samples on minikube. https://knative.dev/docs/install/knative-with-minikube/

[2019-04-25 19:12] Red-Five commented on #92
@redborian Please can we re-open this issue?

Although the [object Object] is replaced with n1-standard-1; its is ignoring the user selected menu item.

E.g. Select n1-standard-2 and  n1-standard-1 is created.

![image](https://user-images.githubusercontent.com/25078066/56761778-32ec8100-676c-11e9-9334-4d2abab161ee.png)

[2019-04-25 19:23] redborian commented on #92
Thanks for bringing this up! We will look into this right away.

[2019-04-25 20:32] Red-Five opened #96 "Not Stopping at Breakpoints"
**Environment**:
Extension version: 0.0.8
VSCode version: 1.33.1
OS: Linux

**Description**:
Debugger attaches to server on GKE and I see threads in the call stack window.
Not stopping at Breakpoints

More info about my setup: https://github.com/Red-Five/google-cloud-code-forseti-security/wiki

It almost appears as if its attached Ok, but in run mode rather than debug mode.

**Repro step**:

[2019-04-25 20:44] Red-Five opened #97 "Cloudbuild GCS Permissions Error"
**Environment**:
Extension version: 0.0.7 (Licence to Kill)
VSCode version: 1.33.1
OS: Linux x64 4.9.0-8-amd64

**Description**:
I don't know if this is user setup error, or something missing from documentation or a bug.

Pushing code to gs://forseti-v-2-14-1_cloudbuild/source/forseti-v-2-14-1-ad4e281303c8186a84704fbde0a2a3b4.tar.gz
time="2019-04-25T20:42:35Z" level=fatal msg="build failed: buildi

[2019-04-25 23:03] iantalarico commented on #97
@Red-Five Do you have steps to repo this?  What version of Skaffold are you using?

@redborian @quoctruong Can one of you TAL at this? I think we had someone else hit a similar error and it was around default credentials?

[2019-04-25 23:42] Red-Five commented on #97
System appears to auto upgrade skaffold during build.

time="2019-04-25T23:23:24Z" level=warning msg="config version (skaffold/v1beta6) out of date: upgrading to latest (skaffold/v1beta8)"

I am logged in using my user account (GCP Project owner with full access to GCS) instead of default compute service account.
Running from Linux (debian9) on GCE.

[2019-04-26 00:18] Red-Five commented on #97
I resolved this issue by using
gcloud auth application-default login

instead of
gcloud auth login

Can you document this somewhere?

[2019-04-26 15:19] iantalarico commented on #97
@Red-Five Thanks for the additional info.

We will document this and look more into it.  For reference here is an issue @redborian filed with Skaffold https://github.com/GoogleContainerTools/skaffold/issues/1966

@redborian Can you look into this more and see if we can make this flow a little better and also add an entry to our FAQ docs?

[2019-04-26 15:20] redborian commented on #97
Thanks for the input @Red-Five. I will add it to our FAQ docs.

[2019-04-26 18:38] Red-Five commented on #96
Another related finding.
If I do a default (local) build, deploy to GKE, I can attach to the debugger and see threads at least.

If I do a cloudbuild I cannot attach to the debugger:

E0426 18:24:24.295856   32308 portforward.go:400] an error occurred forwarding 36015 -> 3000: error forwarding port 3000 to pod 66967f7780ba0b1d1bca56a056def735acc8974b18b8fd7049ab263f443ad72f, uid : exit status 1: 2

[2019-04-29 03:56] KentoMoriwaki opened #98 "Issue Name"
**Environment**:
Extension version: 0.0.8
VSCode version: 1.33.1
OS: darwin

**Description**:

**Repro step**:

[2019-04-29 14:18] quoctruong commented on #98
@KentoMoriwaki Please provide a description and repro step for the issue.

[2019-04-29 14:26] #98 closed

[2019-04-29 21:37] pongad opened #99 "provide a way to set gcloud project from IDE"
**Use case**
If we have multiple projects, we can only switch between them from the CLI.

**Feature**
A command to do this might help: just forward to `gcloud config set project <new project>`.

[2019-05-01 06:13] shavo007 commented on #97
i get another error after this:

[code]

[2019-05-01 13:04] JacksChoco opened #100 "I want set our kubeconfig at ease"
**Environment**:
Extension version: 0.0.8
VSCode version: 1.33.1
OS: darwin

**Description**:

**Repro step**:

similar this one
<img width="284" alt="스크린샷 2019-05-01 오후 10 02 59" src="https://user-images.githubusercontent.com/26213544/57018086-ec5fc080-6c5c-11e9-81a2-b89c4e019c65.png">

[2019-05-01 16:29] quoctruong commented on #100
@JacksChoco Please refer to https://github.com/GoogleCloudPlatform/cloud-code-vscode/issues/34

[2019-05-01 16:29] #100 closed

[2019-05-02 02:21] gugahoi commented on #90
Any updates?

[2019-05-02 18:55] quoctruong commented on #96
@Red-Five What version of ptvsd are you using for the server?

[2019-05-02 19:11] Red-Five commented on #96
@quoctruong I just added ptvsd to requirements.txt.

Ill have to verify the exact version that gets deployed

 (I assumed it just pulls the latest stable release if a version not specified but I could be wrong.)

[2019-05-02 19:14] quoctruong commented on #96
@Red-Five There was a bug with the previous version of `ptvsd` where the path mapping wouldn't work and breakpoint information wouldn't show up.

[2019-05-02 19:18] Red-Five commented on #96
@quoctruong  Are u referring to having to move apps out of the /usr folder?

Our app is in /forseti-security in remote docker and /home/${USER}/forseti-security on local dev

[2019-05-02 19:20] quoctruong commented on #96
@Red-Five I mean it just wouldn't work at all on Linux. Though I believe the latest version should have this fixed.

[2019-05-02 23:10] #68 closed

[2019-05-03 19:35] Red-Five commented on #96
Name: ptvsd
Version: 4.2.8
Location: /usr/local/lib/python2.7/dist-packages

[2019-05-03 21:50] Red-Five commented on #96
@quoctruong Pls see this comment: https://github.com/Microsoft/ptvsd/issues/1364#issuecomment-489223060

I tried with the pathMappings field, but still same issue. Also the IntelliSense says that pathMappings is not a valid entry.

[2019-05-03 21:56] Red-Five commented on #96
I suspect an issue with my local and remote path mappings. Will close this issue once I confirm.

[2019-05-05 15:22] neilghosh commented on #38
@zbbfufu where do I find the file actionregister.js in my mac?

[2019-05-06 13:39] zbbfufu commented on #38
@neilghosh
As of cloud-code 0.0.8, `actionregister.js` is minified into `~/.vscode/extensions/googlecloudtools.cloudcode-0.0.8/dist/extension.js`.

You can still look for and remove the 3 occurences of `if(!(yield this.options.isElevated()))throw new Error(P.Message.MINIKUBE_NOT_ADMIN);` in this file. Then reload the extension.

Take care while editing, it's a pretty huge file (7.7 MB) for a js ed

[2019-05-06 15:08] neilghosh commented on #38
@zbbfufu thanks after doing the changes I got the resources from minikube listed in my left hand side panel but in the main wizard I am getting the following error, not sure if its related

[2019-05-06 22:03] redborian commented on #38
@neilghosh Can you explain a bit more on what you are trying to do in the Minikube dashboard? You mentioned that you have difficulties in listing minikube resources in Cluster Explorer. Is that the case?

[2019-05-06 23:08] nikhilk opened #101 "Incorrect errors detected in yaml manifests"
**Environment**:
Extension version: 0.0.8
VSCode version: 1.33.1
OS: linux

**Description**:
I have a K8s yaml manifest for a variety of k8s objects, including CRDs.
The Cloud Code extension detects a spec block and incorrectly reports "Missing template" error.
It seems to have assumed my yaml manifest is that of a Deployment object, rather than looking for required fields based on the kind specif

[2019-05-06 23:15] nikhilk opened #102 "Open Terminal feature should allow specifying a container for a new pod"
**Use case**
What are you trying to do that our extension doesn't let you?

I want to open a terminal, but not to one of my existing pods, but rather a pod using a container which I have that contains various CLI/diagnostic tools.

The Open Terminal command only allows me to pick existing pods from the default namespace.

[2019-05-06 23:19] quoctruong commented on #102
@nikhilk Do you mean that we should allow opening a terminal to a pod that exists in a namespace other than the default namespace?

[2019-05-06 23:21] nikhilk opened #103 "Diff feature should canonicalize yaml files"
**Use case**
What are you trying to do that our extension doesn't let you?

I was trying to diff the YAML manifest descriptor in my source tree with what the k8s API server reports using the diff command. The resulting diff is a fairly large diff because of line reorderings.

The source yaml file had things listed in logical order chosen by the author of the yaml file.
The k8s api server generated

[2019-05-06 23:25] nikhilk opened #104 "Apply yaml feature should support templatization"
**Use case**
What are you trying to do that our extension doesn't let you?

The YAML manifests in my source tree are templates containing placeholders that must be substituted before applied using kubectl apply. For example, the following exists in my YAML file:

[code]

**Feature**
What would help?

It would be useful to have an extendable/customizable list of placeholder values, some of which ar

[2019-05-06 23:27] redborian commented on #103
Thanks for using our extension and reporting an enhancement. If you did a `kubectl apply` on the resource or created the resource with `--save-config` flag, the diff would be much smaller. If not, we are unable to narrow-down the diff size. One feature that we are currently working on is better ordering of items in diff view. Would that feature be helpful for you?

[2019-05-06 23:28] redborian commented on #101
Thanks for reporting this issue @nikhilk. I am able to repro it. We will work on fixing this.

[2019-05-06 23:32] nikhilk commented on #102
Thats one aspect of this feature requests.
For example, I might have a "shell" pod within an "infra" namespace.

Alternatively, and quite often, I need to first deploy a shell pod when I want a terminal prompt. Usually such a pod is not always running. For example, here is the shell.sh script I currently use:

[code]

Note - I also need to be able to specify service accounts, because I might want

[2019-05-06 23:35] nikhilk commented on #103
You could sort the source file regardless of how the resource was deployed, and that would already significantly cut down on the diff noise. In my case, the resource is deployed through some other infrastructure -- not manually.

[2019-05-06 23:39] quoctruong commented on #102
@nikhilk Does the pod shows up in the Resource Browser? If so, I think you can right click and select `Get Terminal`.

[2019-05-06 23:47] nikhilk commented on #102
In most cases, the pod won't pre-exist - don't have clusters running pods continually that are meant for debugging use cases or in-cluster tinkering. And in most cases, don't want to get a shell within a pod running an actual workload.

However for the purposes of this bug, I tried right clicking on an existing pod in the resource browser, but I don't see a Get Terminal command in the right click

[2019-05-07 00:20] quoctruong commented on #102
Can you right click on a container of the pod instead?

[2019-05-07 00:24] nikhilk commented on #102
Yes, drilling down and right clicking on the container does surface command -- and will be usable in the rare case that a shell terminal already exists.

I don't know if kubectl exec requires you to specify a container if the pod contains just a single container, but seems redundant.

[2019-05-07 00:29] quoctruong commented on #102
@nikhilk It shouldn’t. We will improve the experience in future releases.

[2019-05-07 00:31] nikhilk commented on #102
Seems like a separate feature/improvement to file and track. This bug should probably focus on making it simpler to get a terminal, when getting a terminal requires deployment of a terminal pod as well.

[2019-05-07 00:46] quoctruong commented on #102
Yes you’re right, that is a separate improvement. In addition to the existing pods, we can add an option when running the GetTerminal command for you to select an image of a pod that you want to deploy and open the terminal to. Does that sound reasonable?

[2019-05-07 00:48] nikhilk commented on #102
This is getting into the design of the feature, but I don't think as a user I would want to provide this information every time I use the terminal command.

I would want to define the manifest of the terminal pod once, and it should go in/alongside .vscode and just used when the command is invoked.

[2019-05-07 13:22] neilghosh commented on #38
The cluster explorer is working fine as expected , its the Minikube Dashboard which is unable to display the status. Attaching a screenshot with error message. Its not a big deal but wondering if its related to the elevated permission requirement.
<img width="1243" alt="Screenshot 2019-05-07 at 6 51 03 PM" src="https://user-images.githubusercontent.com/726337/57302620-3e8b6080-70f9-11e9-8a4e-f6bb5

[2019-05-08 22:23] pratikvarma commented on #82
@iantalarico I do not see 'Cloud Code: Deployment in progress' in the status bar. I only see 'Cloud Code', clicking on which does not show me a Stop Continuous Deploy option.

[2019-05-08 22:23] quoctruong commented on #82
@pratikvarma The `Cloud Code: Deployment in progress` will only show up when continuous deployment is happening

[2019-05-08 22:39] pratikvarma commented on #82
@iantalarico right, first I ran the `Cloud Code: Continuous Deploy` in the command palette (cmd+shift+p). The application started and deployed correctly as I was able to go to the page. But when i make some changes, I see the output say `Deploy complete in XYZms` but the changes do not show when i update the browser.

[2019-05-08 22:44] quoctruong commented on #82
@pratikvarma Is it possible to capture some screenshots or GIFs of the deployment?

[2019-05-08 23:00] pratikvarma commented on #82
@quoctruong
![Screen Shot 2019-05-08 at 3 59 20 PM](https://user-images.githubusercontent.com/1262305/57413786-57a01a00-71aa-11e9-8cad-aa575852f007.png)

----Output----
Running: skaffold dev -v info --rpc-http-port 62636
time="2019-05-08T15:58:37-07:00" level=info msg="Skaffold &{Version:v0.28.0 ConfigVersion:skaffold/v1beta9 GitVersion: GitCommit:2b6143bb6d185de9b9fbf2eaa981c8e7acff7339 GitTreeSt

[2019-05-08 23:03] quoctruong commented on #82
@pratikvarma What happened if you changed something (let's say change the "hello world" string to something else and then saves the file?

[2019-05-08 23:13] pratikvarma commented on #82
@quoctruong I see this added to the output as soon as I save the file:

Step 1/6 : FROM node:8
 ---> a5c31320f223
Step 2/6 : WORKDIR /hello-world
 ---> Using cache
 ---> 7b4cd5bdc45f
Step 3/6 : COPY package*.json ./
 ---> Using cache
 ---> 46947b570736
Step 4/6 : RUN npm install
 ---> Using cache
 ---> f3c6807fcf56
Step 5/6 : COPY . .
 ---> bbfa5e8405b6
Step 6/6 : ENTRYPOINT ["node", "--inspect=92

[2019-05-08 23:15] quoctruong commented on #82
@pratikvarma That means the new changes are deployed, which is what you are looking for right?

[2019-05-08 23:18] pratikvarma commented on #82
@quoctruong it seems to be changing ports with every deployment. Is that expected?
Also the problem is there is no way for me to `stop` the continuous deployment. I do not see an option from the status bar `Cloud Code` section to stop the deployment.

[2019-05-08 23:52] quoctruong commented on #82
@pratikvarma The port that it used to port forward to locally is expected to change. Can you give me more details about the extension version and your operating system?

[2019-05-09 01:17] gugahoi commented on #90
After reinstalling the plugin I am not seeing the problem I had reported anymore, I am unsure of what's changed and will close the issue as I can no longer reproduce it.

[2019-05-09 01:17] #90 closed

[2019-05-09 15:34] pratikvarma commented on #82
@quoctruong
macOS mojave: 10.14.3
VSCode: 1.33.1
Cloud Code: 0.0.8

[2019-05-09 19:45] sujit-kamireddy commented on #82
It seems to me that there is a bug where we are incorrectly reverting the status bar to "Cloud Code" even though the continuously deployment is in progress. Workaround to get out of this situation is to kill the skaffold process from the terminal.

@pratikvarma , do you have a consistent repro of this?
We were unable to repro this issue in Windows. @quoctruong is working to repro this in Mac.

[2019-05-09 20:24] pratikvarma commented on #82
@sujit-kamireddy my colleague on windows does not have this issue either. For me, the `stop continuous deployment` option has never shown up on the status bar. For now I am just doing deploy every time i need to.

[2019-05-09 20:26] sujit-kamireddy commented on #82
Thank you for the update @pratikvarma . We will keep you posted on our findings.

[2019-05-10 09:45] zbbfufu commented on #38
Can't help more without access to sources (I'm not a Google dev).
@neilghosh Do you already have a running minikube VM ?

[2019-05-10 16:01] redborian commented on #38
@neilghosh This will be part of the next release. In the meantime, you can run VS Code with elevated privileges to get around this error without editing code by hand.

[2019-05-10 16:30] neilghosh commented on #38
@zbbfufu Yes, I started the minikube VM via command line alreadt
@redborian Can you please help with an example how do I do that? launching with ```sudo code`` did not work.

[2019-05-10 16:34] redborian commented on #38
I just verified that the steps detailed in this accepted answer works.
https://stackoverflow.com/questions/34861791/how-can-i-run-vscode-with-sudo-on-osx

[2019-05-10 17:10] pratikvarma commented on #82
@sujit-kamireddy Can you tell me how to kill the skaffold process from the terminal?
When i do `ps -ef | grep skaffold`, i am not seeing any process.
But even after deleting the pod using `kubectl`, it seems to be coming back up again so it seems the continuous deployment is taking over.

[2019-05-10 21:37] sujit-kamireddy commented on #82
I think there are 2 things here.
1. If the Cloud Code Continuous Deploy command is indeed running, there should be a skaffold process running. (ps -ef | grep skaffold is working as expected for me)
2. If you have used a k8s deployment resource to deploy the application to a k8s cluster, k8s automatically brings up a new pod (to ensure the number of corresponding pods matches with the replica count

[2019-05-11 03:10] dmhendricks commented on #38
I get the same error with `hyperkit`.

[2019-05-12 19:18] Red-Five commented on #91
I am seeing same issue on GCE Debian with a fresh install a few days ago. There is some unclear permissions issue; folder permission appears Ok and other plugins such as Spring Initializr are able to write to same folder.)

[2019-05-13 21:27] sujit-kamireddy commented on #76
Thanks @alfietham for filing the issue and for the update. Deployment Wizard relies on some of the latest APIs added in the recent versions of Skaffold. We will update the documentation.

[2019-05-13 22:56] sujit-kamireddy commented on #65
@glevine ,
  Thank you for filing this feature request. I will look into this.

[2019-05-14 23:14] redborian commented on #38
Thanks for all the feedback. This has been fixed and will be part of our next release.

[2019-05-15 21:41] jtfogarty commented on #21
I was editing a configmap in namespace kf-04 but it was saved to the default namespace.  Thanks, this is a great extension!!

[2019-05-16 05:14] russwolf opened #106 "New Cluster UI says to retry selecting a zone if Compute API isn't enabled but no retry button exists"
**Environment**:
Extension version: 0.0.8
VSCode version: 1.33.1
OS: darwin

**Description**:
New Cluster UI says to retry selecting a zone if Compute API isn't enabled but no retry button exists. If you enable the Compute Engine API, you need to back out and reselect the project to get the zones to appear. It would be much smoother if there were a retry button or if the text "retry" were a clicka

[2019-05-16 08:42] vukasin-nikodijevic commented on #45
@iantalarico - here is some insight on how our helm workflow looks like:

1) in values.yaml we have only values which affect all of our 4 environments equally. This file is considered as base values file.
2) environment specific values are kept in environment values files which overwrites/adds to the base values.yaml
[code]

[2019-05-16 15:36] iantalarico commented on #21
@PierreBesson This is a great idea, I think it's technically possible and I agree we should try and fix that as it's misleading.

@jtfogarty Glad you are enjoying the extension and thank you for the feedback! We will be sure to fix this up.

@quoctruong Can you take a look at fixing these two issues up?

[2019-05-17 01:09] pongad commented on #45
Thank you @vukasin-nikodijevic . I'm not 100% sure how to expose multiple environments from the UI yet, though my first impression is that this probably shouldn't change things too much :P

[2019-05-17 08:56] iantalarico commented on #104
@nikhilk thanks for the feedback.

What are you using for templating now?

[2019-05-17 08:58] iantalarico commented on #91
@quoctruong or @sujit-kamireddy Can one of you take a look at this?

[2019-05-17 10:51] quoctruong commented on #91
I’m working on kubeconfig but I can look into this after.

[2019-05-17 16:51] Maziak2520 opened #107 "Creating GKE does not reflect selected instance type"
**Environment**:
Extension version: 0.0.8
VSCode version: 1.33.1
Extension version:
VSCode version:
OS: Chrome OS  (linux crostini)
Google Chrome OS
Version 75.0.3770.24 (Official Build) beta (64-bit)

**Description**:
cloud code create gke does nto reflect selected instance type...

**Repro step**:
vscode, \cloud code create gke, select instance micro and the command that will be spinned has para

[2019-05-17 17:52] indraforyou commented on #91
I am observing the same on windows 10:
`Unable to copy application template to C:\Users\USER\cloudcode-projects\python-hello-world-1: undefined Please check the write permissions and try again.`

[2019-05-17 18:07] sujit-kamireddy commented on #91
@indraforyou , Can you check if the user under which vscode is running have the write permissions to the folder?

[2019-05-18 06:13] Maziak2520 commented on #107
Screenshots of the manifest (making of GKE guide)  and resulting instances on GCP
![Screenshot 2019-05-17 at 23 32 12](https://user-images.githubusercontent.com/14327861/57965431-6d61cc00-796e-11e9-8046-7f49d3325ea2.png)
![Screenshot 2019-05-17 at 23 41 30](https://user-images.githubusercontent.com/14327861/57965440-85395000-796e-11e9-87c8-08cad80da612.png)

[2019-05-18 10:28] vukasin-nikodijevic commented on #45
@pongad as end user I do not expect to have that visualized as part of the UI but only to have autocomplete for `.Values` with overwrites. I guess that couple of naming / overwriting conventions should be followed / introduced in order to get that work and not to bloat code so much. I can leave with that trade off.

I'll not complain to have auto complete for `.Release` as well :)

[2019-05-18 20:32] pongad commented on #45
That makes sense :)

I unfortunately have been busy with other things and haven't had time to starting working on this in earnest yet. I'm currently planning to start simple and iterate. I think we can probably start with values in `values.yaml` then add support overwrites a little later (it sounds like it shouldn't be terribly difficult).

[2019-05-19 14:55] mrdulin opened #108 "Message: Request initialize failed with message: ENOENT: no such file or directory"
**Environment**:
Extension version: 0.0.8
VSCode version: 1.34.0
OS: macOS mojave

**Description**:
I install this extension the first time and got this error.

  Message: Request initialize failed with message: ENOENT: no such file or directory, open '/Users/elsa/workspace/github.com/mrdulin/dotfiles/examples/connect-multiple-containers/docker-compose.yaml'
  Code: -32603

**Repro step**:

I put

[2019-05-19 23:04] ekimia commented on #66
thanks @quoctruong !!!

[2019-05-20 09:37] leeclark7878 opened #109 "Issue%20Name"
**Environment**%3A%0AExtension%20version%3A%200.0.8%0AVSCode%20version%3A%201.34.0%0AOS%3A%20linux%0A%0A**Description**%3A%0A%0A**Repro%20step**%3A

[2019-05-20 10:22] quoctruong commented on #109
@leeclark7878 Please edit the description and content of the issue.

[2019-05-20 11:02] iantalarico commented on #109
If you have more context to add please reopen this issue.

[2019-05-20 11:02] #109 closed

[2019-05-20 11:08] iantalarico commented on #108
@sujit-kamireddy @quoctruong @redborian @pongad Can one of you take a look at this?

[2019-05-20 11:35] iantalarico commented on #107
@Maziak2520 Thanks for the feedback!

@redborian Can you take a look at this?

[2019-05-22 20:43] pongad commented on #108
@redborian I *think* this is coming from the YAML language server. (The "Server initialization failed" looks like VSCode error when lang server crashes.)

I can't seem to reproduce this though. I feel like something is confused about creating absolute paths somehow.

@mrdulin Can we have additional details? Do you have multiple folders open etc?

[2019-05-23 02:24] mrdulin commented on #108
Here is my vscode workspace and projects in it.

- vscode workspace
  - docker-research
    - examples
      - connect-multiple-containers
        - docker-compose.yaml
  - dotfiles

It seems cloud code try to read `docker-research/examples/connect-multiple-containers/docker-compose.yaml` file.

[2019-05-23 17:54] indraforyou commented on #91
@sujit-kamireddy , its able to create `cloudcode-projects\python-hello-world-*` So I don't think its write permission. It worked on linux system though.

[2019-05-23 23:08] Maziak2520 commented on #91
It is working on Linux, it's also working in Lunch VM in Crostini, but it's not working in Linux in VM Virtual box....

[2019-05-24 22:56] chairy opened #110 "Custom attributes in skaffold.yaml erased by Profile Wizard"
**Environment**%3A%0AExtension%20version%3A%200.0.8%0AVSCode%20version%3A%201.34.0%0AOS%3A%20darwin%0A%0A**Description**%3A%0A%0A**Repro%20step**%3A

I added an attribute in one of my deployment profile by directly editing skaffold.yaml. When I tried to edit the profile via the profile wizard and save, the attribute I added earlier disappeared.

[2019-05-25 08:25] iantalarico commented on #110
@sujit-kamireddy Can you TAL at this?

[2019-05-28 20:32] sujit-kamireddy commented on #76
Updated the documentation. Thanks @alfietham

[2019-05-28 20:32] #76 closed

[2019-05-28 21:50] sujit-kamireddy commented on #110
@chairy , can you provide more info like the sample skaffold.yaml (with attribute) you have?

[2019-05-28 21:56] sujit-kamireddy commented on #65
@glevine ,
I have few questions to understand your scenario better. Can you please take a look and respond?

1. Is the skaffold configuration file you would like to use, in the sub-tree of the root directory hierarchy? or is it outside the root directory hierarchy?

2. Will you have more than one skaffold configuration file in the root directory hierarchy?

3. Do you use a name other than skaffold

[2019-05-28 22:23] chairy commented on #110
Repo step:
1. Open the attached yaml file in VS code, and you will see the _timeout_ attribute under _googleCloudBuild_.
2. Close the file.
3. Edit the profile via the wizard by modifying the project id. Save the change.
4. Open the yaml file and the _timeout_ attribute is no longer there.

[skaffold-cc.yaml.zip](https://github.com/GoogleCloudPlatform/cloud-code-vscode/files/3229908/skaffold-cc.ya

[2019-05-28 22:49] sujit-kamireddy commented on #110
Got it. This is a sync issue between the wizard and the skaffold.yaml. There is a TODO in the code to fix this case.

[2019-05-30 20:05] sujit-kamireddy commented on #91
@quoctruong will look into this after his current work.

[2019-05-30 20:06] sujit-kamireddy commented on #95
https://github.com/kubernetes/minikube/issues/4113

[2019-05-30 20:07] matthewmichihara opened #111 ""Open Dashboard" on the Cluster Explorer doesn't seem to work"
**Environment**%3A%0AExtension%20version%3A%200.0.8%0AVSCode%20version%3A%201.34.0%0AOS%3A%20darwin%0A%0A**Description**%3A%0A%0A**Repro%20step**%3A

Doing so takes me to `http://localhost:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/` in my browser which displays the following JSON:

[code]
![in](https://user-images.githubusercontent.com/79073/58661094-f7a61a80-82

[2019-05-30 22:02] quoctruong commented on #111
@matthewmichihara What happens if you run `kubectl proxy` on the command line?

[2019-05-31 09:45] matthewmichihara commented on #111
On the command line, I get --

[code]

On Thu, May 30, 2019 at 6:02 PM Quoc Truong <notifications@github.com>
wrote:

[2019-05-31 21:41] quoctruong commented on #111
@matthewmichihara This is actually by design, you have to deploy the dashboard first (https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/#deploying-the-dashboard-ui).

[2019-06-01 05:09] svenjeppsson opened #112 "message:"gcloud is installed but cannot read its version""
**Environment**:
Extension version: 0.0.8
VSCode version: Version: 1.34.0
Chrome: 66.0.3359.181
Google Cloud SDK 248.0.0
app-engine-go
app-engine-java 1.9.74
app-engine-python 1.9.85
app-engine-python-extras 1.9.74
bq 2.0.43
cloud-datastore-emulator 2.1.0
core 2019.05.24
gsutil 4.38
kubectl 2019.05.24

OS: Linux x64 4.19.0-5-amd64
Distributor ID:	Debian
Description:	Debian GNU/Linux 10 (buster)
Re

[2019-06-03 14:28] redborian commented on #112
Thanks for reporting the issue.
Can you run `gcloud info --format=json` and see if you can get the version of gcloud?

[2019-06-03 14:29] matthewmichihara commented on #111
oh ok, thanks for taking a look.

[2019-06-03 14:29] #111 closed

[2019-06-03 14:30] redborian commented on #107
This is fixed in head and will be part of next release.

[2019-06-03 17:11] quoctruong commented on #96
@Red-Five Were you able to stop at the breakpoint?

[2019-06-06 14:55] iantalarico commented on #38
This is now fixed

[2019-06-06 14:55] #38 closed

[2019-06-06 14:58] redborian commented on #92
This is now part of the latest release

[2019-06-06 14:58] #92 closed

[2019-06-06 14:58] redborian commented on #18
This is now part of the latest release

[2019-06-06 14:58] #18 closed

[2019-06-06 14:59] redborian commented on #107
This is part of the latest release

[2019-06-06 14:59] #107 closed

[2019-06-06 19:27] #110 closed

[2019-06-07 13:11] slayer opened #113 "Ruby support"
It will be great to support ruby

[2019-06-07 14:49] iantalarico commented on #113
@slayer Thanks for the suggestion!  We are currently focused on Java, Python, NodeJs and Go but as we progress and expand we will consider adding support for additional languages!

[2019-06-09 18:29] engmsaleh opened #114 "Selecting namespace for debugging pod"
**Environment**:
*(Hint: "Report Kubernetes Extension Issue on Github" command will fill these out for you.)*
Extension version:
VSCode version: 1.35.0
OS: OSX 10.14.5

**Description**:
When I want to debug microservice we use `podSelector` to select the required pod, the problem that if I want to select also the namespace it is in is there any way for that?

[2019-06-09 19:10] quoctruong commented on #114
@engmsaleh currently there’s no way to select the namespace. What you can do as a workaround is to set the current context of kubectl to a context that uses the namespace you want.

[2019-06-09 19:53] engmsaleh commented on #114
@quoctruong ok, I have switched the context to the required namespace, now I'm facing two problems when I run debugging for my python project

- It vscode keeps asking for *ptvsd* and want to install it, although it is already installed on my local venv and I have added it to Dockerfile for the pod container
- It gives the following error after `Debugging is not supported for multiple pods.`, I do

[2019-06-09 20:10] engmsaleh commented on #114
For `Debugging is not supported for multiple pods` I have figured it out, it was my fault with the second pod with the same label, removing it made it start the debug process

I'm facing now a problem `Matches multiple schemas when only one must validate.` here is my `launch.json` file

[code]

Although the debug process started, it doesn't fire the breakpoint

[2019-06-10 08:20] marcfong commented on #108
I get the same error as well after using the "Apply current YAML to Kuberenetes" command.

The first time i run the command it succeeds to apply the active yaml to my cluster.
The second time i run it again, this error pops up.

[2019-06-10 14:08] redborian commented on #108
@mrdulin We are currently trying to parse all yaml files in the current workspace. We will be more smarter to ignore certain known files in the future release.

[2019-06-10 14:09] redborian commented on #108
@macfong It looks like somehow the yaml file is unreachable to VSCode. Can you manually check if that file indeed exists on disk?

[2019-06-10 14:11] redborian commented on #114
@engmsaleh Are you seeing this "Matches multiple schemas" error in launch.json?
If so, @quoctruong is there anything that we need to do (like bumping up "version", providing custom schema, etc.) for launch.json file?

[2019-06-10 14:44] mrdulin commented on #108
@redborian Got it. That's the reason. Thanks for reply.

[2019-06-10 15:00] engmsaleh commented on #114
Hi @redborian Yes, it is on `launch.json` Please check attached screenshot
![Screen Shot 2019-06-10 at 4 55 14 PM](https://user-images.githubusercontent.com/462150/59204608-4a0ef300-8ba1-11e9-8254-409cb70d3760.png)

[2019-06-10 15:04] redborian commented on #114
Thanks for the screenshot @engmsaleh. It is just a warning and can be safely ignored for now. To come back to your previous problem, can you try restarting VSCode after installing PTVSD? Can you also scale down the deployment to just 1 pod and try debugging?

[2019-06-10 16:57] engmsaleh commented on #114
@redborian I have made the restart, but the same has happened and it asks me for install `PTVSD` and after I click install I get
[code]

[2019-06-10 17:21] shashankvivek commented on #77
@redborian When can we expect this feature ?

[2019-06-10 17:25] redborian commented on #77
@shashankvivek We are working with the underlying tooling team to refine the deployment experience. This is the work-around as of now. I don't have a strict timeline on which release it will be part of although we are striving hard to fix these issues.

I will keep you posted.

[2019-06-10 17:40] redborian commented on #114
Two things:
1. I see that you are using python3. Can you set an alias in your bashrc or zshrc: `alias python=python3`, restart terminal and start VSCode from terminal? (We have some bad assumptions regarding python binary names which we will fix soon, fyi @quoctruong)
2. We run `python -m pip list --format json` to determine whether ptvsd is installed. Can you run that command and see if ptvsd sho

[2019-06-10 18:20] engmsaleh commented on #114
@redborian I have make the alias and now the problem of asking for `PTVSD` is gone and the output of the command is
```[{"name": "autopep8", "version": "1.4.4"}, {"name": "Click", "version": "7.0"}, {"name": "Flask", "version": "1.0.3"}, {"name": "gunicorn", "version": "19.9.0"}, {"name": "itsdangerous", "version": "1.1.0"}, {"name": "Jinja2", "version": "2.10.1"}, {"name": "MarkupSafe", "version"

[2019-06-10 18:26] redborian commented on #114
Awesome! Let's tackle the next problem.
It looks like port 3000 is not being opened by the pod properly. Have you configured your `Dockerfile` to boot up your python app with ptvsd enabled? If possible, can you share your `Dockerfile`?

[2019-06-11 02:36] marcfong commented on #108
@redborian that path and file does not exist. However, that is not where my actual YAML manifest is stored. The plugin must be reading the wrong file path from vscode, some temp file or something.

The first time I try the command against the YAML file open in the editor it works. Once I try the command again immediately, I hit that error.

[2019-06-11 06:31] engmsaleh commented on #114
@redborian here is my **Dockerfille**

[code]

Here is my **app.py** file

[code]

[2019-06-11 09:06] Janfy opened #115 "YAML Editing: Snippets, Context not working"
**Environment**:
*(Hint: "Report Kubernetes Extension Issue on Github" command will fill these out for you.)*
Extension version: 0.0.9
VSCode version: 1.35.0
OS: 10.0.17134

**Description**:

When editing yaml file, Kubernetes snippet are not available, neither context completion.

I've enable **verbose** for Trace Server setting, But the only error i have is :

[code]

Hints:

- I need to ue prox

[2019-06-11 10:00] rosera opened #116 "Create Cluster Select Zone"
**Environment**:
*(Hint: "Report Kubernetes Extension Issue on Github" command will fill these out for you.)*
Extension version:0.0.9
VSCode version: 1.35
OS: Debian 9

**Description**:
When creating a GKE Cluster, the zone/region drop downs are not being populated consistently. It looks like the script to derive the zone/region is not being invoked correctly. However if the list doesnt populate,

[2019-06-11 14:18] quoctruong commented on #114
@engmsaleh Can you try cleaning up the deployment with `skaffold delete`, do a fresh deployment and try the debugging?

[2019-06-11 15:00] redborian commented on #108
Thanks for the explanation @marcfong. From the temp file name it is clear that you are somehow viewing the server definition of a resource and trying to apply the changes.
How was the server definition file opened after applying kubernetes yaml from a local yaml file? Are you already in the server definition file, making changes to it and trying to apply it?

[2019-06-11 15:04] redborian commented on #115
Thanks for providing more information @Janfy. The suggested naming convention is to end file names with `.yaml`. That should fix your issue. That being said, we will make sure we support other file types as well in future releases.

[2019-06-11 15:09] redborian commented on #116
Thanks for reporting the issue @rosera. From your experience, what is the rate of successfully loading zones/regions? Do you see the progress bar below the drop-down run for sometime before stopping? Do you see any errors being shown? Can you run this command reliably? `gcloud compute zones list`?
Also, can you share your gcloud version?

[2019-06-11 15:24] redborian commented on #114
@engmsaleh As you are troubleshooting this issue, there might be multiple `kubectl portforward` processes running in the background. I would suggest you do a `ps aux | grep portforward`, kill all the portforwarding processes and starting a new debug session.

[2019-06-11 15:37] Janfy commented on #115
It's a mistake (i correct it) in the issue. My test file is corretly named `test.yaml` with the `.yaml` extension and not `.yml`.

[2019-06-11 15:43] Janfy commented on #115
The error in console log:
`[Error - 10:49:05] glob error`
appears a few seconds after starting VsCode, with no open file in the editor.

[2019-06-11 17:54] engmsaleh commented on #114
@quoctruong @redborian I have made `skaffold delete` and made a fresh deployment, the error seems to be gone, but still, it doesn't stop at breakpoints, it simply ignores it and continues running

[2019-06-11 21:53] redborian commented on #115
Thanks for the clarification @Janfy. Are you able to run kubectl commands out of the box or do you need authentication for it as well? Are other features (like hover, schema validation) working well for you?

[2019-06-12 06:31] Janfy commented on #115
kubectl commands works out of the box.
The kubernetes explorer works fine (slowly, but it works).
No others feature is working when i got the error `glob error`.

But i think i found how to reproduce this error.

I've got this error when the project [Kubespray](https://github.com/kubernetes-sigs/kubespray) is added to a workspace.

* Close all files,
* Close all workspaces
* Clone [Kubespray](http

[2019-06-12 06:50] Janfy commented on #115
I've tried to create a new workspace with the follwing folders:

[code]
`conf-k8s`  contains few .yaml files to override `values.yaml` from the `helm-repository`, which contains some charts forked from the official repository.

Everything works fine until i had the `kubespray` folder to the workspace.

After a VsCode restart, i've the following error message:

[code]
And after this error, completi

[2019-06-12 13:18] quoctruong commented on #114
Can you show us a screenshot/gif of the debugging process? Also, is your `app.py` file located in a `src` folder on your machine?

[2019-06-12 13:32] engmsaleh commented on #114
@quoctruong here is `app.py` file

[code]

Here is my structure
[code]

[2019-06-12 14:04] engmsaleh commented on #114
Here is a recording for the debug
http://recordit.co/V1EmCtYukY

[2019-06-12 14:51] quoctruong commented on #114
@engmsaleh Can you change `app.run(debug=True, port=server_port, host='0.0.0.0')` to `app.run(debug=False, port=server_port, host='0.0.0.0')` and try redeploying and debugging?

[2019-06-12 17:38] engmsaleh commented on #114
@quoctruong This time when changed **debug** to **False** it worked and the breakpoints are hit... Is that the correct behavior? as I understand it should be the opposite

[2019-06-12 17:54] quoctruong commented on #114
@engmsaleh That's actually the correct behavior. The `debug` option in `Flask` actually interferes with `ptvsd` if I understand correctly. That is why we set that to `False` in the sample too.

[2019-06-12 17:55] engmsaleh commented on #114
@quoctruong Ok, no problem, Thanks a lot for your kind help :)

[2019-06-12 17:56] quoctruong commented on #114
No problem! Thanks for being so responsive. I'll close this issue.

[2019-06-12 17:56] #114 closed

[2019-06-13 12:13] rustyx commented on #112
Open Terminal inside VSCode (**Ctrl+\`**), in there enter `gcloud version`. You'll most likely see an error about a wrong Python version or another path problem. Fix the problem, restart VSCode.

[2019-06-13 12:46] HaimWeFi opened #117 "Getting Error Message: "Http load balancing must be enabled in order to enable the Cloud Run addon.""
Extension version: v0.0.9
VSCode version: 1.35.0 (1.35.0)
OS: Mac OS 10.14.5

**Description**:
When trying to invoke a the "Create GKE cluster" command I chose my project, the region (us-central1) with Node Count:2 and enabled both istio and Cloud Run I get the following message:
Http load balancing must be enabled in order to enable the Cloud Run addon.

[2019-06-14 13:07] rosera commented on #116
I can see an attempt to load the information when the create cluster wizard is initiated. However I did notice that the default project id is never populated on entry to this screen. I am assuming this is linked to the availability of the region/zone cluster list? Is there something I can check that would enable the default project id to be picked up from the wizard?

When I enter a project id - t

[2019-06-14 15:52] Maples7 opened #118 "Console error message after launching VSCode"
**Environment:**
Extension version: 0.0.9
VSCode version: 1.35.1
OS: darwin

**Description:**
After launching VSCode, there is always some annoying error message showed in Console tab output from this extension:
[code]

**Repro step:**
Install this extension and relaunch VSCode for times.

[2019-06-14 18:00] redborian commented on #116
Thanks for the detailed information @rosera. We will investigate and fix this issue in the upcoming release.
As a workaround, you could set the default project through `gcloud init` command and try creating the cluster again. You can also use our web UI to create the cluster and then use CloudCode to add the cluster to kubeconfig file.

[2019-06-14 18:02] redborian commented on #118
Thanks for reporting this issue. We will investigate and fix this issue.

[2019-06-14 18:03] redborian commented on #108
I am able to repro the issue @marcfong. We will fix it in the next release. As a workaround, you can use `kubectl apply -f <filename>` command from the terminal.

[2019-06-18 08:48] stessaris commented on #118
@redborian this is not an enhancement, but a bug preventing the use of the extension! I had the same issue and I was forced to disable the extension because VSCode kept popping up the error message by switching to the log window.

[2019-06-18 19:34] redborian commented on #118
Thanks for the feedback @stressaris. We will fix it in next release.

[2019-06-19 22:08] iantalarico commented on #21
@quoctruong Any update here?

[2019-06-19 22:14] iantalarico commented on #44
Just a quick update.  We are working on finding the best way to surface this.

[2019-06-19 22:18] iantalarico commented on #47
@marcfong Are you thinking about port forwarding in the context of debugging? Or do you have other flows and use cases?

[2019-06-19 22:27] iantalarico commented on #49
@sanguinecloud Can you help us get some updated docs around adding cluster to the users default config?

[2019-06-19 22:30] iantalarico commented on #54
This was fixed in a previous release, please give it a try from the deployment!

<img width="565" alt="Screen Shot 2019-06-19 at 3 29 18 PM" src="https://user-images.githubusercontent.com/5264734/59805814-2c2f4580-92a7-11e9-9704-426cb7884025.png">

@sanguinecloud Can you help us get some update docs to show this is possible?

[2019-06-19 22:33] iantalarico commented on #67
@scraly Can you give this a try with the latest release, this should be fixed.

[2019-06-19 22:33] #67 closed

[2019-06-19 22:52] iantalarico commented on #78
@redborian Any update here? Was this fixed?

[2019-06-19 22:53] iantalarico commented on #80
This was fixed in a previous release.

[2019-06-19 22:53] #80 closed

[2019-06-19 22:54] iantalarico commented on #81
This has been fixed

[2019-06-19 22:54] #81 closed

[2019-06-20 11:25] femrtnz commented on #54
From what I tested it seem it chose a pod randomly. WE can see this in the beginning of the logs
[code]

[2019-06-20 14:11] iantalarico commented on #54
@quoctruong Can you take a closer look at this?

[2019-06-20 14:50] quoctruong commented on #54
@iantalarico @femrtnz This is the expected behavior from kubectl. However, we can work to add the streaming logs from all the pods support too.

[2019-06-22 18:48] Sohojoe commented on #112
I have the same problem - I get this when I type: gcloud version from the terminal inside VS Code

[code]

[2019-06-25 04:41] glevine commented on #65
@sujit-kamireddy

Sorry it's taken me so long to respond. I must have missed the notification.

1. In the sub-tree of the root directory hierarchy. For example, our API's are defined in `repo/apis`, our source code for our services lives in `repo/projects`, and our skaffold configuration files live in `repo/k8s/`.

Let's say I have a service for managing photos named `photos`. My proto files would

[2019-06-25 17:22] quoctruong commented on #115
@redborian Is this related to https://github.com/GoogleCloudPlatform/cloud-code-vscode/issues/108?

[2019-06-25 17:26] #96 closed

[2019-06-26 11:43] trenslow opened #119 "Remote debug of .NET Core app deployed to Kubernetes cluster extremely slow"
**Environment**:
*(Hint: "Report Kubernetes Extension Issue on Github" command will fill these out for you.)*
Extension version: 0.0.9
VSCode version: 1.35.1
OS:  Windows 10 Enterprise

**Description**:
I'm attempting to debug my .NET Core app running in my local Docker for Desktop Kubernetes cluster. However, whenever I make a HTTP request to my app, it takes at least a minute to hit the breakpoi

[2019-06-26 11:53] sanguinecloud commented on #49
Docs have been updated to reflect local cluster support.

[2019-06-26 15:41] trenslow commented on #119
Hello,

I found a workaround but I don't know if this is intended behavior.

I created a separate service (doesn't matter if it's LoadBalancer or ClusterIP) that exposed my Deployment at the .NET Core debugger port 9229 and now I'm hitting the breakpoint in a comparable time to if I were developing the app on my local machine.

I got this idea by realizing that I hadn't specified this port in the

[2019-06-26 17:17] quoctruong commented on #119
@trenslow That's very interesting. Do you mind sharing the manifests?

[2019-06-27 00:11] sujit-kamireddy commented on #65
Thanks @glevine for the response. I am currently working on this. I will post an update soon.

[2019-06-27 00:11] redborian commented on #49
Thanks for the doc update @sanguinecloud. Closing this issue.

[2019-06-27 00:11] #49 closed

[2019-06-27 00:13] redborian commented on #74
@sujit-kamireddy, can you see if you can add an option to deploy to current cluster instead of always switching to the previously deployed cluster?

[2019-06-27 01:55] quoctruong commented on #21
@PierreBesson we can’t mark the file as read-only because of the limitation from VSCode. Feel free to reopen the issue if you found any problems with the feature.

[2019-06-27 01:55] #21 closed

[2019-06-28 14:02] cheung-chifung commented on #112
Same problem
[code]

[2019-06-28 17:28] redborian commented on #112
@cheung-chifung Can you run `gcloud info --format=json` and see if you can get the version of gcloud?

[2019-06-29 00:10] cheung-chifung commented on #112
@redborian

I ran `gcloud info --format=json` and got a Python value error `ERROR: gcloud crashed (ValueError): unknown locale: UTF-8`.
I googled it and put the following lines into my `~/.zshrc`

[code]

It fixed the Value Error issue, `gcloud info --format=json` works well now, in both iTerm2 and VSCode terminal.

However, the `cannot read its version` problem is still there, even I rebooted my

[2019-07-01 15:55] redborian commented on #78
@rsoutar `Cloud Code: Edit YAML` command has since been hidden as it is not suitable for direct consumption by the user. Feel free to choose `Edit YAML` on a particular resource from the `Cluster Explorer`. I will close this issue. Feel free to reopen it with additional comments.

[2019-07-01 15:55] #78 closed

[2019-07-02 00:36] redborian commented on #112
@cheung-chifung Your VSCode instance would also need to have those environment variables set. Can you start VSCode from terminal following these steps (https://stackoverflow.com/questions/30065227/run-open-vscode-from-mac-terminal) ?

[2019-07-03 17:23] jungopro opened #120 "Can't create AKS Cluster"
**Environment**:

Extension version: 0.0.9
VSCode version: 1.35.1
OS: Mac High Sierra

**Description**:
After choosing resource group and location in the Create AKS Cluster wizard, the wizard is stuck on `loading machine types`
**Repro step**:
Create AKS cluster from cloud code extension

[2019-07-03 20:51] redborian commented on #120
Thanks for reporting the issue @jungopro. We will investigate this issue and update this thread with any updates.

[2019-07-07 01:17] simonz130 opened #121 "Can't create GKE cluster using vscode remote extensions"
**Environment**:
*(Hint: "Report Kubernetes Extension Issue on Github" command will fill these out for you.)*
Extension version:
VSCode version: 1.35.1
OS: Debian Stretch

**Description**:
I tried to use vscode remote extensions with cloud code. When trying to create GKE cluster in [remote container](https://code.visualstudio.com/docs/remote/containers), I get this error:
[code]
**Repro step**:
In

[2019-07-09 12:03] cheung-chifung commented on #112
Thank you, I tried it with no luck.

[2019-07-09 13:34] redborian commented on #112
We have fixed the underlying issue in the next release which is due soon. I will update this thread once it is released.

[2019-07-11 15:41] jia2 opened #122 "custom yaml tags are ignored"
**Environment**:
Extension version: 0.0.9
VSCode version: 1.36.1
OS: Windows 10, build 1809

**Description**:
After installing this plugin (version 0.0.9), all custom yaml tags are ignored by yaml parser. It seems there is a confict with yaml parser (https://github.com/redhat-developer/yaml-language-server)

**Repro step**:
define custom yaml tag in user's settings.json and install this plugin, cr

[2019-07-11 16:05] iantalarico opened #123 "Creating an issue from VS Code on OSX give the following starter text"
**Environment**%3A%0AExtension%20version%3A%200.0.9%0AVSCode%20version%3A%201.36.1%0AOS%3A%20darwin%0A%0A**Description**%3A%0A%0A**Repro%20step**%3A

[2019-07-11 16:08] iantalarico opened #124 "Setting an AWS cluster to the current cluster does not refresh the cluster explorer"
**Environment**:
Extension version: 0.0.9
VSCode version: 1.36.1
OS: darwin

**Description**:
Setting an AWS cluster to the current cluster does not refresh the cluster explorer

[2019-07-11 16:35] redborian commented on #122
Thanks for using our extension. Please copy the contents from your `yaml.customTags` setting into `cloudcode.yaml.customTags`. This should make our language server aware of the custom tags.

[2019-07-11 16:36] redborian commented on #124
Thanks for using our product! We will investigate and fix this issue in our upcoming releases.

[2019-07-11 21:02] tonyjames opened #125 "Add support for local/on-prem kubernetes clusters other than minikube"
**Use case**
I have an on-prem kubernetes cluster that I'd like to use with this extension.  Right now it appears that minikube is the only option.

**Feature**
Maybe adding an option to specify a kubeconfig file?  Not sure what else would be required.

[2019-07-12 00:07] redborian commented on #125
Thanks for trying out our product! CloudCode should just work for any accessible Kubernetes cluster. So, in case of you on-prem cluster, you would need to add the cluster information (IP, user token etc) into your kubeconfig file (as detailed here: https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/)

[2019-07-12 07:09] jia2 commented on #122
Thanks for your quick reply.
I copied `yaml.customTags` setting into `cloudcode.yaml.customTags`, and observed that the language server in cloud code extension interpreted custom tags different as YAML Language Server of redhat. I didn't know yaml spec well and can't tell, which parses yaml file with custom tags correctly according to yaml specification.

[2019-07-12 15:28] redborian commented on #122
Do you mind sharing the contents of `customTags`? We will investigate why that is the case and get back to you.

[2019-07-12 15:43] redborian commented on #123
Thanks @iantalarico for reporting this issue. This was caused by escaping the string twice. This has been fixed in our upcoming release.

[2019-07-12 15:45] redborian commented on #121
Thanks for reporting this @simonz130. We haven't looked at remote extension scenario. We do have this in our roadmap. I will update this thread if anything comes up.

[2019-07-12 16:59] jia2 commented on #122
If I put `"!Sub scalar"` before `"!Sub sequence"` in `"cloudcode.yaml.customTags"`,
[code]

I got 133 parsing errors, but when I moved  `"!Sub scalar"` after `"!Sub sequence"`,

[code]
then errors are reduced to 12.

And I have lines blow in my yaml file:

[code]

This snippet comes from one of my aws cloudformation template in yaml format.

And for these lines I got below errors, no matter what k

[2019-07-12 17:18] sujit-kamireddy commented on #118
This issue has been fixed in the latest release 0.0.10. Please try it out.

As always, please keep issues coming our way.

[2019-07-12 17:19] sujit-kamireddy commented on #117
This issue has been fixed in the latest release 0.0.10. Please try it out.

As always, please keep issues coming our way.

[2019-07-12 17:19] #117 closed

[2019-07-12 17:19] sujit-kamireddy commented on #115
This issue has been fixed in the latest release 0.0.10. Please try it out.

As always, please keep issues coming our way.

[2019-07-12 17:19] #115 closed

[2019-07-12 17:20] sujit-kamireddy commented on #112
This issue has been fixed in the latest release 0.0.10. Please try it out.

As always, please keep issues coming our way.

[2019-07-12 17:20] #112 closed

[2019-07-12 17:20] sujit-kamireddy commented on #108
This issue has been fixed in the latest release 0.0.10. Please try it out.

As always, please keep issues coming our way.

[2019-07-12 17:20] #108 closed

[2019-07-12 17:20] sujit-kamireddy commented on #93
This issue has been fixed in the latest release 0.0.10. Please try it out.

As always, please keep issues coming our way.

[2019-07-12 17:20] #93 closed

[2019-07-12 17:20] sujit-kamireddy commented on #83
This issue has been fixed in the latest release 0.0.10. Please try it out.

As always, please keep issues coming our way.

[2019-07-12 17:20] #83 closed

[2019-07-12 17:21] sujit-kamireddy commented on #79
This issue has been fixed in the latest release 0.0.10. Please try it out.

As always, please keep issues coming our way.

[2019-07-12 17:21] #79 closed

[2019-07-12 17:28] sujit-kamireddy commented on #65
@glevine ,
This feature has been released in our latest release 0.0.10. However you need to turn on the vscode workspace/user setting "enableMultiSkaffoldConfigsKey" to enable it.

Please try it and give your feedback. Thanks.

[2019-07-12 17:33] simonz130 opened #126 "Provide an option to test templates file when launching cloud code"
Currently when user creates a new app using *Cloud Code: New Application*, .templates file is downloaded to determine which templates are supported. We want to have an option to specify the location of templates file when vscode starts so users who submit a new template can test them manually before enabling the templates for all the users. The option should allow specifying a physical path of tem

[2019-07-12 17:59] redborian commented on #123
This has been fixed in the latest release.

[2019-07-12 17:59] #123 closed

[2019-07-15 14:49] tonyjames commented on #125
Thanks this worked.

[2019-07-15 14:49] #125 closed

[2019-07-15 20:20] glevine commented on #65
@sujit-kamireddy,

Thanks! I'm enabling it now. I look forward to using it.

[2019-07-15 20:31] sujit-kamireddy commented on #65
Thanks @glevine .

[2019-07-19 16:42] sujit-kamireddy commented on #65
@glevine, there were couple of bugs that may prevent you from successfully using the feature. I fixed them and they will be available in the next release. So please hold off on trying this feature till next release.
Thank you.

[2019-07-25 11:50] remyleone opened #128 "Add support for other cloud provider"
**Use case**

I would like to create a Scaleway Managed Kubernetes from vscode

**Feature**

How could different cloud provider provide the required code to have their cluster instantiated?

[2019-07-25 11:59] remyleone opened #129 "Support multiple natural language for documentation tooltip"
**Use case**

I would like to have the kubernetes documentation coming from a different language.
In case a person is not at ease with English, and documentation for Kubernetes is available in a different language, I would like to be able to configure the help to come from a different language.

**Feature**

I would like to have the opportunity to set up as an option that I would like to use a dif

[2019-07-25 16:59] remyleone opened #130 "Open Source release of cloud-code"
**Use case**

I would like to understand how cloud-code works and what are the internals of this project

**Feature**

Release it open source with a permissive license

[2019-07-25 17:38] redborian commented on #129
Thanks for the feedback @remyleone. We will plan on including such a feature in future.
**To everyone**: What languages would you like to be supported?

[2019-07-25 17:57] remyleone commented on #129
I would like to have French but would like to understand what data are
scrapped to provide those tooltips. Are they version scopped?

Le jeu. 25 juil. 2019 à 19:38, Chandra Sekar Narayanan <
notifications@github.com> a écrit :

[2019-07-29 07:51] andythehood opened #131 "[K8 Explorer] Organizing the cluster by context names"
**Use case**
In the Cluster Explorer panel, Cloud Code lists the cluster names from kubeconfig, not the context names. Given that you can have multiple contexts referring to the same cluster, the result is duplicate entry names in this list and it is not immediately obvious to which context each one refers. Also, as users can use 'kubectl config rename-context' to create a more friendly name for t

[2019-07-29 18:31] quoctruong commented on #131
@andythehood Currently, if you hover over the cluster, you can see additional info like `user` and `namespace` as well. Is this information not enough for differentiating between the clusters?

[2019-07-29 21:10] andythehood commented on #131
It certainly helps, and if nothing else, it would be more helpful if hovering also displayed the context name, along with the user and namespace.

However, i still think that it should show the context name, given that that is the unique key from the kubeconfig and is the friendly name a user may have previously configured, with hovering then displaying the cluster name, user and namespace.

It do

[2019-07-29 22:46] quoctruong commented on #131
@andythehood Thank you for the feedback. We will investigate and look into how to surface this information better.

[2019-07-30 00:51] redborian commented on #129
They are version scoped. We currently get the schema from https://github.com/garethr/kubernetes-json-schema.

[2019-07-30 09:50] remyleone commented on #129
@zacharysarah How could we make it possible for the different translation team to provide localization of those schemas? The benefit would be to have localized documentation for each attributes natively supported inside the editor.

[2019-07-30 23:34] quoctruong commented on #34
This is now available in the latest release of the extension. Please try it out!

![AddKubeConfigPathNew](https://user-images.githubusercontent.com/4371645/62172652-dc9d5a00-b2e7-11e9-9aef-596177a62b90.gif)

[2019-07-31 17:00] redborian commented on #34
Thanks @quoctruong! I will go ahead and close this issue now.

[2019-07-31 17:00] #34 closed

[2019-07-31 17:41] moltar commented on #34
Awesome, thanks 😁

[2019-08-06 02:05] asishrs opened #132 "Unable to open minikube dashboard - X Error executing status template"
**Environment**: macOS 10.14.6
*(Hint: "Report Kubernetes Extension Issue on Github" command will fill these out for you.)*
Extension version: 0.0.11
VSCode version: 1.36.1
OS: macOS 10.14.6

**Description**:
Unable to open the `minikube` dashboard via `Open Minikube Dashboard` option Kubernetes Explorer. I am able to see all the namespaces and pods from the minikube default workspace.

**Error me

[2019-08-06 02:06] asishrs commented on #132
similar issue is mentioned here https://github.com/GoogleCloudPlatform/cloud-code-vscode/issues/38#issuecomment-490077017 But that is marked as closed.

[2019-08-06 16:31] redborian commented on #132
Thanks for reporting this issue @asishrs. This affects the latest version of minikube. We have already fixed this in the upcoming release. I will update this issue once it is released.

[2019-08-06 17:25] asishrs commented on #132
Thanks! Happy to beta test if you need help.

[2019-08-08 09:49] bhavani725 opened #133 "extensive use of CPU"

[2019-08-08 16:19] quoctruong commented on #133
@bhavani725 Thank you for using the extension. Can you provide more details on this? For example, what you were doing when you noticed the use of CPU, what platform you were using, how much CPU was used

[2019-08-08 18:28] quoctruong commented on #84
@balopat Since we couldn't repro this issue with newer releases. I'll close this as resolved. Feel free to open it if it happens again.

[2019-08-08 18:28] #84 closed

[2019-08-09 05:39] Maples7 commented on #118
This issue occurs again after I update VSCode to version 1.37.0:

Output:
[code]

[2019-08-09 09:52] bhavani725 commented on #133
@quoctruong I am using ubuntu 18.04, I have noticed in htop this extension and eslint was using one core to 100%. When I uninstall this extension it was back to normal. I just enabled the extension but was not using it.

[2019-08-09 21:41] redborian commented on #118
Thanks for reporting the issue @Maples7. Can you set `"cloudcode.yaml.trace.server"` to `"verbose"` and attach your logs from `"CloudCode Yaml Support"` output channel?

[2019-08-09 21:49] redborian commented on #133
Thanks for reporting the issue @bhavani725. Can you give some more context on what kind of workspace you have open in VS Code? Your system/platform specifications?

[2019-08-12 05:30] Maples7 commented on #118
Sorry, it seems disappeared in hours after the update, I don't know the reason.

[2019-08-12 14:50] dgethings commented on #45
@pongad I hope you are having success in progressing this feature. We exclusively use Helm. Our workflow slightly differs.

- We have one or more microservice repos. That contains not only the app code but also the Dockerfile and Helm Chart.
- We have a "master" Helm Chart that requires the microservices for an application/service
- We have deployment specific repos that overwrites the `values.yam

[2019-08-19 08:57] bhavani725 commented on #133
Hi ,

Apologies its the other extention using more cpu "mysql-inline-decorator" .
Well I do not have extention console log for this. I will install
cloud-code extention again and will let you know if any issues and will
share the logs which might help you better.

Anyways I am using Ubuntu 18.04 and vscode 1.37.0 .

Thanks,
Bhavani Prasad

On Sat, Aug 10, 2019 at 3:19 AM Chandra Sekar Narayanan <

[2019-08-19 14:03] quoctruong commented on #133
@bhavani725 Thank you for the update. We’ll close this issue for now but feel free to open another one if you encounter any problems while using the extension again.

[2019-08-19 14:03] #133 closed

[2019-08-19 16:50] vsubramani commented on #97
@Red-Five, thanks for sharing these errors. Wanted to see if you're trying CloudBuild to see what what the various options were, or whether it is a critical part of your workflow?

We're working on simplifying the deploy workflow, and our hypothesis is that the "[default]" option for the Skaffold profile during the "Cloud Code: Deploy" command should suffice.

[2019-08-19 21:13] redborian commented on #106
This has been fixed in the next release

[2019-08-22 05:32] bbangert commented on #121
I got something similar as well. In my case I was using the Remote SSH extension so that Cloud Code was running in the remote machine. The Kubernetes explorer worked fine as it installed and located kubectl fine for that. However, when trying to deploy, it said it couldn't find kubectl. This was pretty odd as the explorer was able to locate it, but however the deploy command works is not able to f

[2019-08-26 18:51] erihanse opened #134 "Snippets aren't showing up"
Issue Type: <b>Bug</b>

I'm trying to get the Skaffold snippets to work. When I run the command "Insert snippet" nothing is shown.

Extension version: 0.0.11
VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:25.463Z)
OS version: Linux x64 5.0.0-25-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6700HQ CPU @

[2019-08-26 21:47] erihanse commented on #134
Thanks for getting back to me. I re-added the vendor folder, and suddenly it started working again. I do believe the file was missing, just didn't expect the snippets to stop working for that reason. I have a single workspace opened. I believe we can close this.

[2019-08-26 21:47] #134 closed

[2019-08-29 08:44] trenslow commented on #119
Hello,

Sorry for the late response, I was busy with other projects in the meantime.

I realized that I was limiting the CPU resources in the Deployment manifest, which caused the majority of the lag. It seems that the debugger requires quite a bit of computing power!

So that solves the extreme delay, but unfortunately there is still a bit of lag (~1-2 seconds to show information like variable va

[2019-08-29 08:44] #119 closed

[2019-09-02 10:25] hjkkhj123 opened #135 "docker build fail with cloud code"
**Environment**:
*(Hint: "Report Kubernetes Extension Issue on Github" command will fill these out for you.)*
Extension version: 0.0.11
VSCode version: 1.37.1
OS: Windows 10 pro

**Description**:
When I build Sample project with local docker-machine I got a error.
I already install docker
[code]

**Repro step**:
Install VS code
Add Cloud code
Make new Project with sample (node-hello-world)
Install

[2019-09-02 16:32] quoctruong commented on #135
@hjkkhj123 Have you tried restarting the docket client? Also can you try running any docker command in your terminal and see if it’s working? Thanks!

[2019-09-03 01:19] hjkkhj123 commented on #135
@quoctruong
Terminal in VS code
[code]

CMD
[code]
I think that configuration is solution
but that conf does not maintained
When i run new cmd i have to run that command again
and I don't know how to setting VS code Terminal which skaffold use

[2019-09-03 01:51] hjkkhj123 commented on #135
@quoctruong
It Solved
I'm trying to restart **Docker Desktop** and Run Docker Desktop with Admin
It need Hyper-V instead VirtualBox
When i accept DockerDesktop install hyper-v automatically
And It Solved
Thanks

[2019-09-03 01:51] #135 closed

[2019-09-08 03:49] Maples7 commented on #118
It's recurrent on VSCode version 1.38.0.
Sorry, feeling so sad.

[2019-09-17 16:23] redborian commented on #118
Thanks for reporting the issue @Maples7. We will investigate the issue.

[2019-09-17 16:56] kschaab commented on #77
This is pending in our next release.

[2019-09-17 18:51] ZacharyJoswick opened #137 "Cannot read property 'kind' of null"
**Environment**:
Extension version: 0.0.11
VSCode version: 1.38.1
OS: linux

**Description**:
After deploying an application to our cluster we the error message ```Cannot read property 'kind' of null.``` There does not seem to be any noticeable problems with the deployment or application, however, skaffold never prints out the success message as a result.

**Repro step**:
I am using the google clo

[2019-09-17 19:36] quoctruong commented on #137
@ZacharyJoswick Thank you for reporting the issue. Can you provide a screenshot of the error message?

[2019-09-17 20:22] ZacharyJoswick commented on #137
Attached you will find the relevant screenshot

![google_cloud_code_error](https://user-images.githubusercontent.com/5191408/65076556-3d9bf280-d967-11e9-97a2-713261cecf4b.png)

[2019-09-17 20:25] quoctruong commented on #137
I see. To know if this is an error from the extension or from skaffold, could you scroll up the Output Panel all the way to the top and retrieve the `skaffold` command that was run? If you try running that command in the terminal, will you get the same error at the end?

[2019-09-18 10:14] ZacharyJoswick commented on #137
When I run the command specified in the output window I get the proper output (see attached screenshot). It does appear that whatever is throwing this error is happening after the completion of the skaffold command.
![google_cloud_code_bug_2](https://user-images.githubusercontent.com/5191408/65140004-9a38f500-d9db-11e9-9f3f-e1a2fc9f50f6.png)

[2019-09-18 21:40] pongad commented on #91
@Maziak2520 I unfortunately cannot repro this problem. Can you verify that this is still a problem? There's a bug with the error message: right now the extension always asks users to check write permission even though that might not be the problem. A few months ago (after you opened the issue) we merged a PR to fix the "undefined" error. Could you update the bug with a new error message? That shou

[2019-09-19 19:30] hermes85pl commented on #121
I am experiencing this issue when trying to work in WSL 2 that is currently promoted to developers by Microsoft as groundbreaking (as it is in fact). To be honest, your extension is the only one from quite a few extensions that I use that does not support remote development yet. Please consider increasing the priority of this issue.
Also, I would like to add that having installed Google Cloud SDK

[2019-09-23 17:40] sujit-kamireddy commented on #95
@prafullkotecha , can you try this with the latest version of minikube and cloud code and let us know if it still repro? It didn't repro for me.

[2019-09-24 17:25] redborian commented on #120
Sorry for the late turn-around. When I revisited this issue with the latest version of azure cli, I couldn't reproduce it (version: `2.0.74`). In the background, we just run `az vm list-sizes -l <LOCATION> -ojson`. See if you can run the command manually in VS Code with the latest version of azure CLI.

[2019-09-24 20:33] sujit-kamireddy commented on #137
The fix for this issue is in our latest [release](https://github.com/GoogleCloudPlatform/cloud-code-vscode/releases/tag/v0.0.12). Please update the extension and retry the scenario.

[2019-09-24 20:34] sujit-kamireddy commented on #132
The fix for this issue is in our latest [release](https://github.com/GoogleCloudPlatform/cloud-code-vscode/releases/tag/v0.0.12). Please update the extension and retry the scenario.

[2019-09-24 20:34] sujit-kamireddy commented on #106
The fix for this issue is in our latest [release](https://github.com/GoogleCloudPlatform/cloud-code-vscode/releases/tag/v0.0.12). Please update the extension and retry the scenario.

[2019-09-24 20:34] sujit-kamireddy commented on #101
The fix for this issue is in our latest [release](https://github.com/GoogleCloudPlatform/cloud-code-vscode/releases/tag/v0.0.12). Please update the extension and retry the scenario.

[2019-09-24 20:34] sujit-kamireddy commented on #97
The fix for this issue is in our latest [release](https://github.com/GoogleCloudPlatform/cloud-code-vscode/releases/tag/v0.0.12). Please update the extension and retry the scenario.

[2019-09-24 20:34] sujit-kamireddy commented on #91
The fix for this issue is in our latest [release](https://github.com/GoogleCloudPlatform/cloud-code-vscode/releases/tag/v0.0.12). Please update the extension and retry the scenario.

[2019-09-24 20:34] sujit-kamireddy commented on #77
The fix for this issue is in our latest [release](https://github.com/GoogleCloudPlatform/cloud-code-vscode/releases/tag/v0.0.12). Please update the extension and retry the scenario.

[2019-09-24 20:39] redborian commented on #116
We have enhanced the experience in our upcoming release. I will update this thread once we release it.

[2019-09-24 20:39] #132 closed

[2019-09-25 16:10] ZacharyJoswick commented on #137
After updating the version of the extension in my dev container everything worked as intended and I did not get the error message. Thank you. Marking as closed.

[2019-09-25 16:10] #137 closed

[2019-09-25 17:20] IsaacLf opened #138 "Google App Engine Support"
**Use case**
What are you trying to do that our extension doesn't let you?
I want to deploy an App Engine Standard (Java) application, currently i use a Eclipse IDE (because of the extension "Google Cloud Tools for Eclipse")

**Feature**
What would help?
The support of App Engine to deploy apps to production or locally, as Eclipse's extension mentioned above

**Note:** I got really curious about t

[2019-09-25 21:30] russwolf commented on #130
Hi Rémy,

We have no plans for an open source release at this point.

Thanks,
Russell

[2019-09-25 21:30] #130 closed

[2019-09-25 21:39] russwolf commented on #138
Thank you for the feedback, Isaac.

We are not actively working on developing this feature so we'll take this as a feature request.

As we look at this in more detail, would it be okay if we reached out to you for you more info?

[2019-09-25 21:45] IsaacLf commented on #138
Of course, I'm available to give the info you might need.

I knew it could not be in develop since the extension appear as "beta", but it would be very cool to include more functionality 😃

[2019-09-27 11:57] vsymguysung opened #139 "Can not update --default-repo"
**Environment**:
*(Hint: "Report Kubernetes Extension Issue on Github" command will fill these out for you.)*
Extension version: 0.0.12
VSCode version:Version: 1.38.1
OS:  Darwin x64 18.6.0

**Description**: When I got prompted with the projectId for `gcr`, I typed wrong projectId then I can not change it. So I would like to get that prompt to be able to change the projectId for `--default-repo` o

[2019-09-27 13:32] vsymguysung commented on #139
nvm, I figured that I need to look at `.vscode/settings.json` under my project folder instead of `~/Library/Application Support/Code/User/settings.json`.

[2019-09-27 13:32] #139 closed

[2019-09-28 18:52] asishrs commented on #132
I can confirm this, Thanks!

Tested on below environment.
[code]

[2019-10-01 13:08] rpus opened #140 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cloudcode`
- Extension Version: `0.0.12`
- OS Version: `Windows_NT x64 6.1.7601`
- VSCode version: `1.38.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\khankk\googlecloudtools.cloudcode-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-cause

[2019-10-01 13:09] rpus commented on #140
Trying again to attach the file...

[googlecloudtools.cloudcode-unresponsive.cpuprofile.txt](https://github.com/GoogleCloudPlatform/cloud-code-vscode/files/3676318/googlecloudtools.cloudcode-unresponsive.cpuprofile.txt)

[2019-10-01 17:27] redborian commented on #140
Thank you for reporting the issue @rpus . We have been fixing performance issues with our extensions.
Can you answer a few more questions to help us investigate this issue?
1. How many yaml files does your workspace have?
1. How large are those files?
1. How many vscode instances do you have open?
1. When do you see the CPU spike? Is it during startup time or any specific operation?

[2019-10-01 17:37] rpus commented on #140
Hello... The answers are:

  1. zero
  2. (zero)
  3. two
  4. Yes; it was at startup.

But I should add: I was not (subjectively) aware of any CPU spike or delay at all; I only knew there was an issue because VSCode told me! And I have only seen this issue once (on the last time I opened VSCode).

So, please don't take my opening this issue as a complaint; I filed it merely because I thought my a

[2019-10-01 17:46] redborian commented on #140
Thanks for the quick turnaround @rpus. We are aware of slow startup times of our extension and actively working on improving it.
I will keep this issue open until all the fixes are merged and a new release has been pushed out.

[2019-10-01 20:54] #77 closed

[2019-10-01 20:54] #97 closed

[2019-10-02 09:43] onsails opened #141 "Rust support"
**Use case**
I am developing rust applications most of which are cloud-native.

**Feature**
Support of rust language. Is it planned?

[2019-10-03 18:06] russwolf commented on #141
Hi there,

We don't currently have plans for Rust support in Cloud Code. Are there specific Cloud Code features that you would like to see for Rust?

Thanks,
Russell

[2019-10-04 09:49] feloy opened #142 "Custom snippets"
As a developer, I would like to be able to declare new snippets of YAML templates with my own requisites. For example, a specific Deployment template with pre-added environment variables, mounted volume, etc

[2019-10-04 14:10] JCzz opened #143 "an error occurred forwarding"
# Environment:
[code]

Extension version: 0.0.12
VSCode version: 1.38.1
OS: MacOs 10.15
Knative: is install in the same cluster, but I am deploying using the default application.

# Description
I am trying to debug go code with cloud-code, and expected it to work - it actually did once.

# Steps
1. Installed and run this sample from quickstart:
`https://cloud.google.com/code/docs/vscode/quickstart

[2019-10-04 16:31] quoctruong commented on #143
@JCzz Which sample language are you using?

[2019-10-04 18:30] redborian commented on #142
Thanks for the feedback @feloy. VS Code already supports adding snippets (`Preferences: Configure User Snippets` command). Will that be adequate or do you think we need to provide a more robust way?

[2019-10-04 18:48] feloy commented on #142
Ok cool.

[2019-10-04 18:51] #142 closed

[2019-10-05 09:02] JCzz commented on #143
@quoctruong Thanks, I just tried both the go: hello-world and go:Guestbook, same result.

[2019-10-05 17:43] quoctruong commented on #143
Ah I think the 2 templates remove the existing debugging entrypoint in anticipation of `skaffold debug` support for Go. Please try adding this line to the `Dockerfile`:
[code]
and comment out the existing `ENTRYPOINT` in the `go: hello world` template and retry.

[2019-10-06 14:38] JCzz commented on #143
Thanks @quoctruong

Thanks man, that was it - I can not believe I did not see the changes in the Dockerfile.

Keep up the good work
/Christian

[2019-10-07 17:09] kschaab commented on #129
This will be dependent on kubernetes OpenAPI documentation supporting multiple languages.  Is this planned at all @zacharysarah?

[2019-10-07 19:22] quoctruong commented on #143
@JCzz We reverted the offending changes to the sample application so you don't need to copy from github Dockerfile anymore. You can retry it again with the new sample.

[2019-10-07 20:13] redborian commented on #118
@Maples7 we are awaiting more information to troubleshoot this issue. Can you provide the requested information above?

[2019-10-08 08:57] JCzz commented on #143
Hi @quoctruong Sounds good with the Dockerfile - thanks!

FYI, I think I found the reason for the debugger not working the second time - it looks like an issue with the golang debugger, Delve do not releasing the port in the container. Therefore it is not an issue with the Cloud-Code extension. I found a workflow where I just delete the pod(k8s just restart it again fast) and then I can do my debu

[2019-10-08 08:57] #143 closed

[2019-10-08 21:11] zacharysarah commented on #129
@kschaab @remyleone That's a better question for the Kubernetes API Machinery SIG. @lavalamp @deads2k

[2019-10-08 23:26] lavalamp commented on #129
😰 Uh... yeah...

There's no obvious existing place for this to go.

It would not make sense to put all languages in the OpenAPI spec, it is already quite large.

One could use the schema to assign each english blob a relatively stable identifier and its corresponding english text. Can you make do with that?

"some assembly required"

[2019-10-09 06:13] Maples7 commented on #118
It turns out I should re-install the extension to avoid the issues for each time after VSCode is updated. I think there might be some configurations are not compatible.
I'll set "cloudcode.yaml.trace.server" to "verbose" to see what will happen for next update of VSCode, for now I'll close the issue. Cheers!

[2019-10-09 06:13] #118 closed

[2019-10-09 06:27] shaojielinux opened #144 "Issue Name"
**Environment**:
Extension version: 0.0.12
VSCode version: 1.38.1
OS: darwin

**Description**:

**Repro step**:

[2019-10-09 17:57] kschaab commented on #144
@shaojielinux  Please provide more information

[2019-10-09 18:20] #144 closed

[2019-10-10 08:18] nitinjain999 opened #145 "Issue Name"
**Environment**:
Extension version: 0.0.12
VSCode version: 1.38.1
OS: darwin

**Description**:

**Repro step**:

[2019-10-10 16:38] redborian commented on #122
Just to give you an update on this issue, we are on working on merging in changes that fixes this issue. I will update this thread once it is merged in.

[2019-10-10 20:03] redborian commented on #129
@lavalamp In that case would we need to translate the english blob ourselves offline? Would it be possible for the Kubernetes cluster to surface this at least for popular languages (like French)?

[2019-10-11 20:31] lavalamp commented on #129
If you're talking about having the cluster have multiple translations
available for the OpenAPI spec and choosing one based on a e.g. header, no
one's ever really proposed that before.

I'd think that you'd want validation functions to be translated first.

Neither of those would be simple or easy :/

On Thu, Oct 10, 2019 at 1:03 PM Chandra Sekar Narayanan <
notifications@github.com> wrote:

[2019-10-12 08:07] ahmed-masud commented on #141
I would be happy to help in this too.

[2019-10-14 16:55] kschaab commented on #145
Closing due to lack of information

[2019-10-14 16:55] #145 closed

[2019-10-21 15:25] JCzz opened #146 "Change $HOME/cloudcode-projects folder"
When creating a "New Application" you end up in $HOME/cloudcode-projects

Is it possible to change this folder?

[2019-10-22 12:34] o1da commented on #47
It seems that the current version of Skaffold can do it https://skaffold.dev/docs/how-tos/portforward/
It must be invoked with `--port-forward` param. But it seems that Cloud Code doesn't invoke Skaffold with it. Can I configure it somehow?

[2019-10-24 23:59] sujit-kamireddy commented on #146
It is possible to change this default location. Try creating an application in a different location and you will be prompted to make the new location as the default project creation location.

[2019-10-30 12:38] slayer opened #147 "TypeError: Cannot read property 'map' of undefined"
**Environment**:
*(Hint: "Report Kubernetes Extension Issue on Github" command will fill these out for you.)*
Extension version: Cloud Code v0.0.12 (2019-09-23)
VSCode version:
Version: 1.39.2
Commit: 6ab598523be7a800d7f3eb4d92d7ab9a66069390
Date: 2019-10-16T10:47:27.951Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 5.0.0-32-generic
OS: Ubuntu

**

[2019-10-30 16:04] redborian commented on #147
Thanks for reporting the issue @slayer. We have fixed this bug in our next release which will be out soon.

[2019-10-31 06:21] dmakeroam opened #148 "Cloud Code is detect only skaffold.yaml and cannot detect skaffold.yml"
**Environment**:
*(Hint: "Report Kubernetes Extension Issue on Github" command will fill these out for you.)*
Extension version: Cloud Code v0.0.12 (2019-09-23)
VSCode version:
Version: 1.39.2
Commit: 6ab598523be7a800d7f3eb4d92d7ab9a66069390
Date: 2019-10-15T15:33:00.827Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 18.7.0

**Description**:

I ca

[2019-11-06 21:35] redborian commented on #124
This will be fixed in our upcoming release.

[2019-11-08 17:43] zoftdev opened #149 "fail to save user setting in WSL2"
**Environment**: WSL2 on windows 10 Prof.
Extension version: v0.0.13 (2019-11-07)
VSCode version: 1.40.0
OS:   WSL2 on windows 10 Prof.

**Description**:
When using cloud code in WSL2 to create new application.
Extension tries to save setting into windows path and failed.

[Error - 12:42:29 AM] (node:10448) UnhandledPromiseRejectionWarning: Error: ENOENT: no such file or directory, open 'c:/Users/

[2019-11-08 17:46] redborian commented on #147
This should be fixed in v0.0.13

[2019-11-08 17:46] #147 closed

[2019-11-08 17:47] redborian commented on #140
This should be fixed in v0.0.13

[2019-11-08 17:47] #140 closed

[2019-11-08 17:47] redborian commented on #122
This should be fixed in latest release (v0.0.13)

[2019-11-08 17:47] #122 closed

[2019-11-08 17:47] redborian commented on #116
We have fixed this issue in our latest release (v0.0.13)

[2019-11-08 17:47] #116 closed

[2019-11-08 17:48] redborian commented on #106
We have fixed this release in the latest release (v0.0.13)

[2019-11-08 17:48] #106 closed

[2019-11-08 17:48] redborian commented on #101
This has been fixed in the latest version of Cloud Code (v0.,0.13)

[2019-11-08 17:48] #101 closed

[2019-11-08 17:48] redborian commented on #91
This has been fixed in our latest version of Cloud Code (v0.0.13)

[2019-11-08 17:48] #91 closed

[2019-11-08 17:49] redborian commented on #65
This has been fixed in the latest release of Cloud Code (v0.0.13)

[2019-11-08 17:50] redborian commented on #149
Thanks for reporting the issue @zoftdev . We will investigate and fix the issue.

[2019-11-08 18:18] sujit-kamireddy commented on #65
This will be fixed in a future release. We are changing the way deploy and debug works, which will give great flexibility going forward.

I will update this thread when that's ready.

[2019-11-10 13:49] ARKKYN opened #150 "Please add support for multiple aws regions"
**Use case**
What are you trying to do that our extension doesn't let you?
I am trying to create Kubernetes cluster on aws ap-south-1 but only 4 regions are listed

**Feature**
What would help?
Please add the region

[2019-11-11 07:59] JCzz commented on #74
Any progress on this issue - I have the same?

[2019-11-11 09:37] JCzz opened #151 "error: current-context is not set"
**Environment**:
Extension version: 0.0.13
VSCode version: 1.40.0
OS: MacOs Catalina 10.15.1 (19B88)

**Description**:
When deploying any "New Application" I get: `error: current-context is not set`
It comes up as a red text toast message.

**Repro step**:
1. Create a new Application
2. Deploy this new application

Note: I am able to use Skaffold run: `skaffold run --default-repo=gcr.io/<projectid

[2019-11-11 19:03] sujit-kamireddy commented on #74
@JCzz, we are working on the new deploy and debug flows and as part of that, users will be prompted if a context is not set in the kubeconfig upfront.

Meanwhile, can you check if a default context is set in the kubeconfig file?

[2019-11-12 09:15] RamYadlapalli opened #153 "Logs Viewer is crashing when container logs size is very high"
Extension version: 0.0.13
VSCode version: 1.40.0
OS: MAC OS Catalina

**Description**: When my container logs data is more, > 500 MB then logs viewer page is crashing

**Repro step**:
1. Select a cluster
2. Select a pod under a namespace
3. Right click on pod and select view logs
4. Make sure that pod logs size is high
5. Observe Log viewer extension crash
6. Refer the attached image after the cra

[2019-11-12 17:48] quoctruong commented on #153
@RamYadlapalli Thank you for reporting the issue. Can I also ask whether this cluster uses Stackdriver Logging API?

[2019-11-12 17:53] redborian commented on #151
Thanks for reporting the issue @JCzz. Can you confirm that you have a current context set? You can find it through "Cloud Code" -> "Kubernetes Explorer" (or) from your `current-context` field in your kubeconfig file.

[2019-11-12 17:54] redborian commented on #150
Thanks for reporting the issue @ARKKYN. We will fix the issue in the upcoming releases.

[2019-11-12 19:09] quoctruong commented on #153
@RamYadlapalli What do you think if we default to loading logs from the past hour for you? I think this should prevent the Logs Viewer from hanging.

[2019-11-12 22:37] cneeruko opened #154 "Issue Name"

[2019-11-12 22:37] #154 closed

[2019-11-13 04:25] RamYadlapalli commented on #153
@quoctruong Yes, that will be the perfect solution, in fact, I wanted to propose the same solution.
Loading the last 1 hour logs by default and let user change the duration.

[2019-11-13 11:01] JCzz commented on #74
Thanks @sujit-kamireddy

Sounds good, and yes my default context is set in the kubeconfig file.
I can do: `skaffold run --default-repo=gcr.io/<projectid>/cloudcode`

As a workaround, that is what I will be using until the new deploy and debug flow. Looking forward to that :-)

[2019-11-13 11:23] JCzz commented on #151
Thanks @redborian

It was already set. I then reloaded `~/.kube/config` and now it gets me to building the template app "Go: Hello-World" but with the following error:
`failed to build: build failed: build failed: building [go-hello-world]: extracting projectID from image name: unable to guess GCP projectID from image name [go-hello-world]
`

Full output:
[code]

[2019-11-13 11:39] KimMJ opened #155 "cannot view pod logs"
**Environment**:
*(Hint: "Report Kubernetes Extension Issue on Github" command will fill these out for you.)*
Extension version: 0.0.12, 0.0.13
VSCode version: 1.40.0
OS: Windows

**Description**:
Hi. I'm using cloud code with remote-ssh.
When I try to view pods' logs with cloud code in 0.0.12, it ask me which container I want.
But after I clicked container name, it said

[code]

like this.
It occ

[2019-11-13 15:14] JCzz commented on #151
Hi again @redborian
Ok, I fixed this issue.

1. I had manually installed Skaffold, so I deleted Skaffold
2. Removed ~/.kube and then `gcloud container clusters get-credentials my-cluster`
3. re-installed cloud-code and in the flow I let Cloud-Code install Skaffold

Looking forward to the new flow - this is still the best flow out there, so keep up the good work

[2019-11-13 15:16] JCzz commented on #151
Hi again @redborian
Ok, I fixed this issue.

I had manually installed Skaffold, so I deleted Skaffold
Removed ~/.kube and then gcloud container clusters get-credentials my-cluster
re-installed cloud-code and in the flow I let Cloud-Code install Skaffold
Looking forward to the new flow - this is still the best flow out there, so keep up the good work

[2019-11-13 15:16] #151 closed

[2019-11-13 15:18] JCzz commented on #146
Thanks @sujit-kamireddy

It worked

[2019-11-13 15:18] #146 closed

[2019-11-13 15:25] JCzz commented on #74
Hi @sujit-kamireddy

I got it to work:

1. Deleted Skaffold
2. Deleted .kube
3. gcloud container clusters get-credentials my-cluster

[2019-11-13 20:36] quoctruong commented on #155
Hi @KimMJ, can you provide a screenshot? Also, can you give me the output of `kubectl get pod spin-clouddriver-86dc69d468-smqb6`? Thanks!

[2019-11-13 23:13] JCzz opened #156 "Use Ingress when having more LoadBalancer"
When having multiple application is it possible to use Ingress in between a LoadBalancer?

[2019-11-13 23:21] redborian commented on #156
Thanks for the feedback @JCzz. Is this feedback about how the built-in samples have been written? If so, please open an issue here: https://github.com/GoogleCloudPlatform/cloud-code-samples/issues. If not, can you give more context into how Cloud Code can help with your use-case?

[2019-11-14 01:10] KimMJ commented on #155
for v0.0.12 with local vscode and `kubectl` (not `remote-ssh`)
![image](https://user-images.githubusercontent.com/6358016/68817158-2574f500-06c4-11ea-9b3d-0dd20d5fd3c0.png)
![image](https://user-images.githubusercontent.com/6358016/68817180-332a7a80-06c4-11ea-9d21-477f04e3dfe9.png)
but
![image](https://user-images.githubusercontent.com/6358016/68817234-68cf6380-06c4-11ea-8b52-95c55c62694c.png)
and

[2019-11-14 09:10] marcfong opened #157 "Browse Daemonsets and Horizontal Pod Autoscaler resources"
**Use case**
I am trying to browse details of daemonsets and HPAs installed in my cluster via the Cloud Code GUI. These are not available today.

**Feature**
What would help?
Add daemonsets and HPA to the GUI

[2019-11-14 09:12] marcfong opened #158 "Unable to edit Ingress objects"
**Environment**:
Extension version: 0.0.13
VSCode version: 1.39.2
OS: darwin

**Description**:
The little pencil icon does not appear for ingress objects and I cannot view nor edit the YAML
**Repro step**:

[2019-11-14 14:04] JCzz commented on #156
Thanks @redborian

Nope, it is more on how you deploy to Kubernetes and keep the Cloud-Code gRPC debugger working, if possible to use an Ingress in between a "Google" LoadBalancer.

I would like to share LoadBalancers as you pay for each LoadBalancer.

[2019-11-14 15:13] inercia opened #159 "Add support for k3d clusters"
**Use case**

It would be great if we could create a [k3d](https://github.com/rancher/k3d) cluster from inside vscode.

[2019-11-14 17:27] redborian commented on #159
Thanks for your feedback, @inercia . Although we don't have immediate plans, we will definitely look at it in the near future.

[2019-11-14 18:27] redborian commented on #158
Thanks for the feedback @marcfong. I have merged a fix for this and will be part of next release.

[2019-11-14 18:44] quoctruong commented on #155
Thank you for the detail screenshots @KimMJ, this is most likely a bug in our code for handling pod with multiple containers. Does it work for you if the pod only has 1 container?

[2019-11-14 18:48] redborian commented on #155
Also, @KimMJ do you a use proxy environment? If so, can you check if GKE tree view shows the right projects?

[2019-11-14 23:57] redborian commented on #120
I will go ahead and close this bug as there was no response. Feel free to re-open this bug when it repros again.

[2019-11-14 23:57] #120 closed

[2019-11-15 00:21] sujit-kamireddy commented on #74
Thanks @JCzz for the workaround.

[2019-11-15 22:02] redborian commented on #156
Thanks for the reply @JCzz. For deployments, you should be able to configure your services to use your own LoadBalancer. For debugging, we attach to the pod using port-forwarding as LoadBalancer hits a different node each time. Do you have any specific user-journeys that Cloud Code can assist with?

[2019-11-18 03:04] sbd commented on #73
I'm currently experiencing roughly the same issue:

Error: Unable to connect to the server: getting credentials: exec: exec: "aws": executable file not found in $PATH

I successfully created a cluster from: `$ eksctl create cluster`
Then successfully ran: `$ sudo aws2 eks --region ${REGION} update-kubeconfig --name ${CLUSTER_ID}`

Then tried `$ kubectl get nodes` but got the error listed above.

I

[2019-11-19 01:22] KimMJ commented on #155
@quoctruong
It doesn't work with the pod has 1 container..
@redborian
I don't use GKE cluster. It's an onprem Kubernetes.
\+ `gcloud` is already installed.

[2019-11-19 15:19] comino opened #160 "Option to add a permanent environment var"
**Use case**
I need to inject my SSH credentials into the docker build process in order for the docker build to fetch private repositories. I currently do this with skaffolds buildEnv configuration which lets you inject certain environment variables as a docker "buildVar".

Any secret hardcoded in skaffold.yaml would likely end up in the repository.

**Feature**
I would like to have an option to p

[2019-11-19 15:39] quoctruong commented on #155
@KimMJ We have a bug where viewing logs from a different namespace would not work. A fix will be coming out in the next release.

[2019-11-20 20:59] quoctruong commented on #155
@KimMJ We just released a new version of the extension, can you try it out and see whether this fixes the bug?

[2019-11-20 20:59] quoctruong commented on #153
@RamYadlapalli We just released a new version of the extension, can you try it out and see whether this fixes it?

[2019-11-20 21:06] redborian commented on #158
This is fixed in the latest release (`v1.0.0`)

[2019-11-20 21:06] #158 closed

[2019-11-20 21:18] quoctruong commented on #160
@comino The "Add Secret as Environment Variable" will just add a Kubernetes Secret Object to an existing deployment or pod. What's happening behind the scene is that we are simply adding a secret field to the YAML of the deployment or pod and then apply it. So I don't think that is what you are looking for?

[2019-11-21 00:53] KimMJ commented on #155
@quoctruong Thanks! It is fixed.

[2019-11-21 00:53] #155 closed

[2019-11-21 09:58] RamYadlapalli commented on #153
@quoctruong Perfect, it's working smooth. Thanks for this extension, it makes working with Kubernetes so easy.

[2019-11-21 09:58] #153 closed

[2019-11-21 21:38] xaxdev opened #161 "Issue Name"
**Environment**:
Extension version: 1.0.0
VSCode version: 1.40.1
OS: win32

**Description**:

**Repro step**:

[2019-11-21 21:38] #161 closed

[2019-11-25 13:21] PeterSletten opened #162 "Cannot read property 'identifier' of null"
**Environment**:
*(Hint: "Report Kubernetes Extension Issue on Github" command will fill these out for you.)*
Extension version: 1.0.1
VSCode version: 1.3.0
OS: Ubuntu 18.04

**Description**: When trying to install the cloud code extension vscode gives the following error: Cannot read property 'identifier' of null.

**Repro step**: It worked when I installed this extension at home (same setup).

[2019-11-25 13:33] PeterSletten commented on #162
Solved: Updated VS code to version 1.40.1, and everything worked :-)

[2019-11-25 13:33] #162 closed

[2019-11-25 15:23] kschaab commented on #148
Thank you for reporting this issue.  Please kindly provide additional information such as the error that is occurring.

[2019-11-25 19:08] quoctruong commented on #149
@zoftdev I am trying to repro the issue. Can I ask how you ran GUI VSCode on WSL?

[2019-11-26 19:45] patflynn opened #163 "stackdriver logs are visually overlapping the logs header."
**Environment**:
Extension version: 1.0.1
VSCode version: 1.40.2
OS: darwin

**Description**:
When I open logs from a k8s pod the logs view header floats under the log messages when I scroll.
![image](https://user-images.githubusercontent.com/7862557/69667099-586f9f00-105b-11ea-9203-d5edbbcf7f45.png)

[2019-11-26 23:31] PolGuixe opened #164 "Support for AlibabaCloud"
**Use case**
Access Alibaba's Cloud Kubernetes using the this package

**Feature**
Support for Alibaba's Cloud Kubernetes

[2019-11-27 01:08] kschaab commented on #163
Thank you for reporting this issue.  We will be looking into fixing this.

[2019-11-27 01:13] kschaab commented on #164
Thank you for using Cloud Code for VS Code.  We currently support AlibabaCloud in a limited fashion through the Kubernetes Explorer as well as Skaffold deploy.  Would you mind elaborating what you are looking to do that is not supported?

[2019-11-27 10:00] PolGuixe commented on #164
@kschaab thanks for your prompt reply. I am new to Kubernetes and I am doing an integration with a cluster provided by Alibaba.

Right now I don't have any particular issue. As I work with it I'll be posting them here.

[2019-11-27 19:13] kschaab commented on #164
Sounds great, looking forward to your feedback.

[2019-11-27 19:13] #164 closed

[2019-11-27 19:21] kschaab commented on #159
Tagged for future evaluation - closing for now

[2019-11-27 19:21] #159 closed

[2019-11-27 19:26] kschaab commented on #149
We have a fix, this will be delivered in our December release.

[2019-11-27 19:30] kschaab commented on #138
Tagged for reassessment in the future, closing for now.

[2019-11-27 19:30] #138 closed

[2019-11-27 19:33] kschaab commented on #129
Reassess when k8s supports this in the future.

[2019-11-27 19:33] #129 closed

[2019-11-27 19:35] kschaab commented on #128
At this point Scaleway support isn't on our roadmap.  Tagged for reassessment in the future, closing for now.

[2019-11-27 19:35] #128 closed

[2019-11-27 19:39] kschaab commented on #126
Not planning on doing this.

[2019-11-27 19:39] #126 closed

[2019-11-27 19:41] kschaab commented on #121
This is fixed in Cloud Code 1.0.0

[2019-11-27 19:41] #121 closed

[2019-11-27 19:42] kschaab commented on #113
Marked as reassess in the future, closing for now.

[2019-11-27 19:42] #113 closed

[2019-11-27 19:47] kschaab commented on #95
We think this is fixed, please reopen if it reproduces in the future.

[2019-11-27 19:47] #95 closed

[2019-11-27 19:48] kschaab commented on #86
This feature is planned for our January release.

[2019-11-27 19:50] kschaab commented on #75
We have this tagged as reassess in the future, closing for now.

[2019-11-27 19:50] #75 closed

[2019-11-27 21:37] jmah-cc commented on #156
Closing as a part of backlog clean up. @JCzz If you're still seeing this issue, please re-open, with a reply to @redborian 's question above.

[2019-11-27 21:37] #156 closed

[2019-11-27 21:42] jmah-cc commented on #160
Cloud Code v1.0.1 has a fix for "Executing "Add Secret as Environment Variable" manually just throws "Cannot read property 'kubeObject' of undefined"

@comino Will Kustomize work for you here?

[2019-11-29 10:10] fabltd opened #165 "Refusal to deploy"
**Environment**:
Extension version: 1.0.1
VSCode version: 1.40.2
OS: 10.15.1

**Description**:

Cannot deploy to K8S.

Log is as follows: ( Project Name changed to XXXXXX)

Running: skaffold run --enable-rpc -v info --rpc-http-port 52196 --filename skaffold.yaml --default-repo gcr.io/XXXXXXX
port 50051 for gRPC server already in use: using 50053 instead
starting gRPC server on port 50053
Using kub

[2019-12-01 17:52] sbulman commented on #47
It would be great to (optionally?) enable --port-forward when using deploy (or continuous deploy). We use port forwarding so that we can call out internal services from localhost and supporting services such as MongoDB running on the cluster (so we can use DB tools etc.)

[2019-12-03 15:07] JCzz commented on #74
Hmm, back to not-working. Any idea:

[code]

[2019-12-03 15:47] JCzz opened #166 "exiting dev mode because first build failed"
VSCode: Version: 1.40.2
CloudCode 1.0.1

Steps, just use the "default go-hell-world"

[code]

[2019-12-03 16:14] #166 closed

[2019-12-03 19:12] xaxdev opened #167 "Issue Name"
**Environment**:
Extension version: 1.0.1
VSCode version: 1.40.2
OS: win32

**Description**:

**Repro step**:

[2019-12-03 22:08] xaxdev opened #168 "Issue Name"
**Environment**:
Extension version: 1.0.1
VSCode version: 1.40.2
OS: win32

**Description**:

**Repro step**:

[2019-12-04 09:13] kshestakov opened #169 "exec: Unable to find a path to the node binary. Please manually set config.execPath"
**Environment**:
Extension version: 1.0.1
VSCode version: 1.40.2
OS: darwin (MacOS)

**Description**:
Such an error is poped up randomly while I switch to another .yaml file (e.g. file with deployment description):
```exec: Unable to find a path to the node binary. Please manually set config.execPath```

**Repro step**:
Simply switch to a new tab with yaml file opened

[2019-12-04 16:21] kschaab opened #170 "Cloud Code crashes application host when there is no network connectivity"
Extension version: 1.0.1
VSCode version:
Version: 1.40.1
Commit: 8795a9889db74563ddd43eb0a897a2384129a619
Date: 2019-11-13T16:49:30.162Z
Electron: 6.1.2
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0

OS:  Windows 10

Application host crashes with Cloud Code loaded when there is no network connectivity

Run cloud code in VS Code and disconnect the network.  The extension host proc

[2019-12-08 15:06] remoe opened #171 "windows/wsl: can't create sample application"
**Environment**:
Extension version: 1.0.1
VSCode version: 1.40.2
OS: windows / wsl

**Description**:

can't create sample applications. Nothing logged on "Cloud Code" logger.

**Repro step**:

- call "Cloud Code: New Application"
- accept the default path like "/home/user/cloudcode-projects/nodejs-guestbook-1"
- press ```<enter>```
- nothing happens

[2019-12-09 14:26] redborian commented on #171
Thanks for your feedback @remoe. We will investigate and fix this issue right away.

[2019-12-09 14:52] redborian commented on #171
This has been fixed already and will be part of the next release.

[2019-12-10 09:57] barthuijgen opened #172 "Support jsonPayload"
**Environment**:
Extension version: 1.0.1
VSCode version: 1.40.2
OS: darwin

**Description**:
log lines that use jsonPayload instead of textPayload do not show up at all

Our applications rely heavily on using jsonPayload instead of textPayload and our logs viewed by the Cloud Code extensions are only showing dates and nothing else, this extension looks amazing but that one small oversight really

[2019-12-10 16:51] redborian commented on #169
Thanks for reporting the issue @kshestakov. Is this error blocking your workflow in any way? How often do you get this issue? Can you set `cloudcode.yaml.trace.server` setting to ` verbose` and copy paste the logs from "Cloud Code Yaml Support" output stream?

[2019-12-10 16:51] #168 closed

[2019-12-10 16:51] #167 closed

[2019-12-10 16:53] redborian commented on #165
Thanks for reporting the issue @fabltd. Is it an intermittent issue or can you repro this consistently? What is the version of your skaffold CLI?

[2019-12-10 16:55] redborian commented on #172
Thanks for reporting this issue @barthuijgen. Can you attach a screenshot of your logs viewer? In the meantime, we will fix the underlying issue in the next release.

[2019-12-10 19:19] znorris commented on #172
I believe I'm impacted by this same case. The top two log entries are expanded as much as possible.

<img width="1281" alt="Screen Shot 2019-12-10 at 11 17 10" src="https://user-images.githubusercontent.com/995047/70561224-ec9f3300-1b3e-11ea-9dd3-6d728c110250.png">

[2019-12-11 07:28] barthuijgen commented on #172
Thanks @znorris that is indeed exactly the same as it looks like for me, in some cases I have some log lines mixed in that contain a textPayload, they do show up as expected.

![Screenshot 2019-12-11 at 08 23 23](https://user-images.githubusercontent.com/45095973/70600268-99d18400-1bef-11ea-9b83-618b798f1084.png)

top two lines as seen in google cloud console

![Screenshot 2019-12-11 at 08 25 59](

[2019-12-13 08:46] jmah-cc opened #173 "Test Feature Request <Please Ignore>"
Creating a test feature request to try out GitHub Action for moving an issue to correct Project column based on it's label

[2019-12-16 15:02] kschaab commented on #173
Closing this issue

[2019-12-16 15:02] #173 closed

[2019-12-17 01:02] sujit-kamireddy commented on #170
I couldn't repro this issue. I tried cloud code new application, deploy commands and also browsing the kubernetes explorer, I got error messages in all the cases and the extension/host didn't crash.

[2019-12-17 11:03] kshestakov commented on #169
It constantly opens bottom panel that is getting annoying

Unfortunately, pretty often to become annoying :(

Sure.
Output:
[code]

[2019-12-17 20:36] pongad commented on #172
Closed by https://github.com/GoogleCloudPlatform/cloud-code-vscode-internal/pull/1688

[2019-12-17 20:36] #172 closed

[2019-12-18 15:39] Yggdrasil opened #174 "Errors on WSL. UnhandledPromiseRejectionWarning: Error: ENOENT: no such file or directory settings.json"
**Environment**:
Extension version: 1.0.1
VSCode version: 1.41.0
OS: linux (Ubuntu 18.04 in WSLv1, Windows 10 1909)

**Description**:
Whenever I open a project via Remote WSL I get the below errors. This only occurs in WSL.

When I reopen the same project in Windows there are no errors. Opening a new blank window in WSL also does not show any errors.

It seems obvious that paths like `c:/Users/mar

[2019-12-18 16:42] kschaab commented on #174
Thanks, this is fixed in our upcoming release.

Duplicate of #171

[2019-12-18 16:42] #174 closed

[2019-12-19 02:21] rrichardson opened #175 "context is blank when executing certain kubectl commands"
**Environment**:  Vanilla Kubernetes 1.14, kubectl 1.17
Extension version: 1.0.1
VSCode version: 1.41.0
OS:  Windows 10

**Description**:  From the Cloud Code menu, When running `deploy` and `incluster`
several commands are issued,  but this one that is synthesized is synthesized with what appears to be an empty string for context when running the command:
`kubectl --context  create --dry-run -oya

[2019-12-19 15:05] stefanomiccoli opened #176 "prevent aggressive output panel opening"
**Use case**
when in continuos deployment is on, any output from containers will automatically open the output panel if not in focus already.
It is really frustrating to be continuously pushed in the output panel, especially when wip services are writing output periodically (ping, polling etc).

Looking at vscode issues it is something that pops up periodically, last time few hours ago. Besides th

[2019-12-19 16:03] rrichardson commented on #175
Sadly, this was fixed by doing nothing other than restarting VS Code :(

[2019-12-19 18:39] kschaab commented on #175
We don't automatically reload when VS code installs a new version of the extension (yet).  So it is possible where the extension was updated but not reloaded.  Do you think that might apply in this case?

[2019-12-19 18:42] kschaab commented on #176
Thanks for your feedback Stefan.  This is something that we need to address as you rightly point out.

[2019-12-19 18:52] rrichardson commented on #175
I can't say for sure, but I don't think it was the case.  I had begun my testing and installation yesterday.. and it involved a couple restarts over the course of the day.

[2019-12-20 11:07] ravikumargupta123 opened #177 "Issue Nameaasd"
**Environment**:
Extension version: 1.0.1
VSCode version: 1.41.1
OS: darwin

**Description**:

**Repro step**:

[2019-12-20 11:07] #177 closed

[2019-12-27 12:08] remyleone opened #178 "More options in the Kubernetes explorer right click to create resource using template"
**Use case**

I would like to add a given resource. Let's say a config map. If I'm looking at the Kubernetes explorer and doing a right-click on Namespace/Default/Config Maps and I right-click on that I just got a refresh option. I would like to have the option to add this resource from a right click and have a template showing up ready to be edited.

**Feature**

Having a New option in the right-

[2019-12-27 17:35] bwnyasse opened #179 "Unable to load schema from 'k8s://schema/v1"
**Environment**:
*(Hint: "Report Kubernetes Extension Issue on Github" command will fill these out for you.)*
Extension version: 1.0.1
VSCode version: 1.41.1
OS: MacOS 10.14.6

**Description**:
All my k8s resources show linting errors in the first character despite them being valid.
For example the simplest pod definition has an error:

<img width="387" alt="Capture d’écran 2019-12-27 à 18 29 18

[2019-12-27 18:44] redborian commented on #178
Thanks for the valuable feedback @remyleone. We will add this to our future road map and update on the progress further.

[2019-12-27 18:46] redborian commented on #179
Thanks for reporting the issue @bwnyasse.
Can you add this to your VS Code settings: ` "cloudcode.yaml.trace.server": "verbose",` and collect logs from your `Cloud Code Yaml Support` output stream?

[2019-12-30 09:50] bwnyasse commented on #179
Hello @redborian  , thanks you for the reply.  In attachment is the output stream while opening the related `simple-pod.yaml` file :

[simple-pod.yml.txt](https://github.com/GoogleCloudPlatform/cloud-code-vscode/files/4009439/simple-pod.yml.txt)

[2019-12-31 18:39] LeoMXIBM opened #180 "Issue Name"
**Environment**:
Extension version: 1.0.1
VSCode version: 1.41.1
OS: darwin

**Description**:

**Repro step**:

[2019-12-31 18:39] #180 closed

[2020-01-02 19:10] jmah-cc commented on #170
@kschaab Please re-open if you see this issue again

[2020-01-02 19:10] #170 closed

[2020-01-08 18:17] remyleone opened #181 "Flag --export has been deprecated"
**Environment**:
Extension version: 1.0.1
VSCode version: 1.41.1
OS: linux

**Description**:

I often get a vscode notification like:

`Flag --export has been deprecated, This flag is deprecated and will be removed in future.`

**Repro step**:

Apply changes on a resource such as a Deployment

[2020-01-08 18:19] remyleone commented on #181
Can a deployment be modified several time in a row? I try to change the number of replicas from 3 to 4, save and apply and then move it again from 4 to 3 and it doesn't seem to work. Is there an automatic refresh triggered on the sidebar when you modify a given resource ?

[2020-01-08 19:06] redborian commented on #179
Thanks for the log file, @bwnyasse. We will investigate and fix the issue in the upcoming releases.

[2020-01-08 21:54] jmah-cc commented on #48
Closing as a dupe of #71

[2020-01-08 21:54] #48 closed

[2020-01-08 21:58] jmah-cc commented on #99
@pongad We were reviewing our backlog and wanted more information on this issue. Can you clarify which scenarios this applies to?

[2020-01-09 18:10] quoctruong commented on #181
@remyleone You should be able to modify it. Once the changes are applied, the browser should refresh to update the number of replicas in the pods.

[2020-01-09 18:27] remyleone commented on #181
Where can I modify the command that uses flag `--export`?

[2020-01-09 19:25] quoctruong commented on #181
The command that uses the flag `--export` is the one that shows the "exported" version of the YAML (used when you click on `Edit YAML` button). It is more or less a warning and shouldn't have any effect.

[2020-01-09 21:08] remyleone opened #182 "Add support for Rails new application"
**Environment**:
Extension version: 1.0.1
VSCode version: 1.41.1
OS: linux

**Description**:

Could you add support for bootstrapping a new ruby on rails application from cloud code? It would be a good opportunity to show rails developer how to deploy to Kubernetes.

[2020-01-09 21:24] remyleone opened #183 "Add support for Laravel new application"
**Environment**:
Extension version: 1.0.1
VSCode version: 1.41.1
OS: linux

**Description**:

Could you add support for bootstrapping a new Laravel application from cloud code? It would be a good opportunity to show PHP developer how to deploy to Kubernetes.

[2020-01-09 21:26] remyleone opened #184 "Add support for Symfony new application"
**Environment**:
Extension version: 1.0.1
VSCode version: 1.41.1
OS: linux

**Description**:

Could you add support for bootstrapping a new Symfony application from cloud code? It would be a good opportunity to show PHP developers how to deploy to Kubernetes.

[2020-01-09 21:33] remyleone opened #185 "Add a dependency check option"
**Environment**:
Extension version: 1.0.1
VSCode version: 1.41.1
OS: linux

**Description**:

cloud code uses several external dependencies such as skaffold, gcloud, and potentially several other tools for various purposes. All those tools are not fully managed by cloud-code and can potentially be present or not on the user machine with an unexpected version.

It would be a good idea to have a pag

[2020-01-09 22:57] remyleone opened #186 "Add support for deleting a deployment profile"
**Environment**:
Extension version: 1.0.1
VSCode version: 1.41.1
OS: linux

**Description**:

When I get inside the deployment Profile Wizard, there is no way to delete an existing profile. Could you add a way to delete one?

[2020-01-09 23:09] remyleone opened #187 "Add a way to create resources from the command palette"
**Environment**:
Extension version: 1.0.1
VSCode version: 1.41.1
OS: linux

**Description**:

Right now the best way I've found to create a resource, let's say a configmap is to first open a new file, save it as yaml, then know that the snippet menu is Ctrl-Space, then type configmap, then type enter and I got a snippet ready.

Could it be possible to have straight from the command palette the pos

[2020-01-10 13:33] remyleone opened #188 "Add a command in the command palette to scale a deployment quickly"
**Environment**:
Extension version: 1.0.1
VSCode version: 1.41.1
OS: linux

**Description**:

To perform a scaling operation at the moment, I look for the deployment in the Kubernetes explorer, find a deployment, open this deployment for editing, look for the `.spec.replicas` field, and edit the value I want.

Could it be possible to have a command palette command so that I just have to type, "sca

[2020-01-10 15:00] remyleone opened #189 "Add a secret snippet"
**Environment**:
Extension version: 1.0.1
VSCode version: 1.41.1
OS: linux

**Description**:

Could you add a Secret snippet to the snippets provided by cloud code?

[2020-01-14 17:12] redborian commented on #169
Thanks for the logs @kshestakov. We will fix this in the upcoming release

[2020-01-15 00:15] jmah-cc commented on #186
We're working on a new workflow that should resolve this. Let us get back to you once that workflow is available.

[2020-01-15 16:01] red8888 opened #190 "Official support for Deployment Manager templates?"
The AWS Toolkit for VS code has official support for Cloudformation templates. Will I get the same level of IDE features for Deployment Manager templates? Deployment Manager is different than cloudformation in that its less of a DSL and more just a python library you import, but there are a lot of DM specifics I really want IDE support for to make writing templates easier.

Features like:
- autoco

[2020-01-15 18:18] redborian commented on #189
Thanks for your feedback @remyleone. This has been added and will be part of the next release.

[2020-01-15 20:33] remyleone opened #191 "Add a persistant volume claim snippet"
**Environment**:
Extension version: 1.0.1
VSCode version: 1.41.1
OS: linux

Could you add a Persistant Volume Claim snippet ? There is only Anthos snippet available at the moment.

[2020-01-15 20:34] remyleone opened #192 "Add a Persistant Volume Snippet"
**Environment**:
Extension version: 1.0.1
VSCode version: 1.41.1
OS: linux

**Description**:

Could you add a persistant volume snippet ?

[2020-01-15 20:35] remyleone opened #193 "Add PersistantVolumeClaim in Kubernetes explorer"
**Environment**:
Extension version: 1.0.1
VSCode version: 1.41.1
OS: linux

**Description**:

Could you add Persistant Volume Claim to the Kubernetes explorer on the left panel ?

[2020-01-15 21:51] jmah-cc commented on #165
@fabltd We have not heard back from you on this. Closing this issue for now. If you encounter this again, please re-ope the bug with the details redborian asked for above.

[2020-01-15 21:51] #165 closed

[2020-01-15 21:52] jmah-cc commented on #160
@comino We have not heard back from you on this so closing the issue. Please let us know if Kustomize works for you in this case.

[2020-01-15 21:52] #160 closed

[2020-01-15 21:55] jmah-cc commented on #175
@rrichardson This should now be fixed. Please let us know if you do ever see this again.

[2020-01-15 21:55] #175 closed

[2020-01-15 22:41] jggj-c opened #194 "Issue Name"
**Environment**:
Extension version: 1.0.1
VSCode version: 1.41.1
OS: darwin

**Description**:

**Repro step**:

[2020-01-20 02:57] swgu931 opened #196 "Issue Name"
**Environment**:
Extension version: 1.0.1
VSCode version: 1.41.1
OS: linux

**Description**:

**Repro step**:

[2020-01-24 11:32] JCzz opened #197 "Request initialize failed with message: ENOENT"
VSCode: Version 1.41.1
CloudCode: Version 1.01

In VSCode there is a red TOAST message coming up saying:
`Request initialize failed with message: ENOENT: no such file or directory, open '<localpath>/triggers/vendor/github.com/tektoncd/pipeline/config/300-imagecache.yaml'`

And it says: source: Cloud Code (Extension)

The file and path, I guess, has no relevance  - but where is this call coming fro

[2020-01-24 22:06] jmah-cc commented on #196
Un-actionable

[2020-01-24 22:06] #196 closed

[2020-01-24 22:06] jmah-cc commented on #194
Un-actionable

[2020-01-24 22:06] #194 closed

[2020-01-24 22:55] jmah-cc commented on #197
Kamino cloned this issue to [GoogleCloudPlatform/cloud-code-vscode-internal](https://github.com/GoogleCloudPlatform/cloud-code-vscode-internal/issues/1752)

[2020-01-24 22:57] jmah-cc commented on #189
Kamino cloned this issue to [GoogleCloudPlatform/cloud-code-vscode-internal](https://github.com/GoogleCloudPlatform/cloud-code-vscode-internal/issues/1753)

[2020-01-24 22:58] jmah-cc commented on #186
Kamino cloned this issue to [GoogleCloudPlatform/cloud-code-vscode-internal](https://github.com/GoogleCloudPlatform/cloud-code-vscode-internal/issues/1754)

[2020-01-25 01:23] jmah-cc commented on #193
Kamino cloned this issue to [GoogleCloudPlatform/cloud-code-vscode-internal](https://github.com/GoogleCloudPlatform/cloud-code-vscode-internal/issues/1758)

[2020-01-31 17:47] jmah-cc commented on #197
Kamino cloned this issue to [GoogleCloudPlatform/cloud-code-vscode-internal](https://github.com/GoogleCloudPlatform/cloud-code-vscode-internal/issues/1803)

[2020-02-03 04:35] GavinOsborn opened #198 "Run in Kubernetes: Cant disable the watch"
**Environment**:
Extension version: 1.1.0
VSCode version: 1.41.1
OS: win32

**Description**:
The default configuration for "Run in Kubernetes" includes a watcher for continuous deploy.
When I use this command VS code pops up a debug window that includes a stop button.

**Repro step**:
Open Skaffold Enabled VSCode project
Run the command "Run in Kubernetes"
Observe that it will successfuly build an

[2020-02-03 05:36] GavinOsborn commented on #176
+1 This is quite frustrating.
And made even worse by #198

[2020-02-03 06:05] GavinOsborn opened #199 "Breaking Changes: Consider better stage management"
For your consideration:

Cloud Code 1.1 deprecated several significant commands (Deploy, Continuous Deploy, Stop, et al) that your users have come to depend upon to do their day job. Whilst I **fully** support your right to innovate on your features I just wonder if it could have been stage managed a bit better.

The company I work for employ ~80 developers who are adopting or have already adopted

[2020-02-03 08:36] grant opened #200 "Feature Request: Support for Cloud Functions"
**Environment**:
Extension version: 1.1.0
VSCode version: 1.41.1
OS: darwin

**Description**:
I recently got a pop-up when opening VS Code that showed a welcome screen for this extension. On the page, the tool states that it contains "The tools you need for Cloud Native development leveraging your favorite OS, IDE, language and cloud."
However, this extension has no support for Cloud Functions. Th

[2020-02-03 09:27] mlamm opened #201 "Kubernetes Explorer - Unable to view logs when missing "list namespaces"-permission"
**Environment**:
Extension version: 1.1.0
VSCode version: 1.41.1
OS: Linux x64 5.4.15-arch1-1

**Description**:
When I right-click a container or pod and select "view logs" the Logs-Viewer is in a never-ending "Loading..."-cycle.
I am accessing a quite well restricted k8s-cluster, missing rights to list namespaces. But being able to list pods, and see containers logs, I can access the information

[2020-02-03 16:17] sujit-kamireddy commented on #198
@GavinOsborn , Have you turned off the watch flag in launch.json and tried the "Run on Kubernetes" command?

If the watch flag is off, it should not re-deploy the application.

[2020-02-03 19:01] vsubramani commented on #199
Gavin, thank you for bringing this our attention. Your suggestion makes sense. We're working on a patch.

In the meantime, as a workaround, you can rollback to the previous version of the Cloud Code plugin. You can do this by going to the Extensions panel, selecting the settings button next to Cloud Code, and selecting 'Install Another Version...' and selecting the 1.0.1 version.

Once we roll out

[2020-02-03 21:47] sujit-kamireddy commented on #198
@GavinOsborn , I could not repro this issue. When I click on the stop button, it stops the session and watcher. Would you mind sharing a gif of the issue you are encountering?

[2020-02-03 22:51] quoctruong commented on #201
@mlamm So the pod is inside the `lalalala` namespace that you are trying to view?

[2020-02-03 22:58] GavinOsborn commented on #199
Thanks @vsubramani, I appreciate the rapid turn around.

[2020-02-03 23:02] GavinOsborn commented on #198
Hey @sujit-kamireddy,

I'd be happy to.

In the meantime, some things that may help:
 - I'm running on Windows.
 - I don't want to disable continuous deploy, I just want it to stop once I end the session.
 - I haven't tried using the launch.json version - I'm just using the 'Run on Kubernetes' command in the command pallet.

[2020-02-03 23:38] GavinOsborn commented on #198
As requested :)
![badreload](https://user-images.githubusercontent.com/581588/73700276-3d479c80-473a-11ea-9835-dbc86bcaf4d9.gif)

[2020-02-04 07:42] sujit-kamireddy commented on #198
Thanks @GavinOsborn. It indeed is a bug, but seems to be happening only in certain scenarios. Did you install skaffold through chocolatey?

[2020-02-04 08:21] mlamm commented on #201
Yes, I obfuscated it, but it matches.

I noticed a kubernetes-debugging setting within vscode, can anyone explain me howto use it? If it would be of any benefit here.

[2020-02-04 10:33] GavinOsborn commented on #198
Sure did. I installed the whole tool chain through choco.

On Tue, 4 Feb 2020, 18:42 Sujit Kamireddy, <notifications@github.com> wrote:

[2020-02-04 10:36] GavinOsborn commented on #198
(except cloud code which I installed through vscode)

[2020-02-04 20:02] sujit-kamireddy commented on #198
@GavinOsborn , thanks a lot for filing this issue. We released a patch (v1.1.1) which should fix this issue along with bringing back Cloud Code: Deploy and Cloud Code: Continuous Deploy functionality.

Please try it out and let us know if you find any issues.

[2020-02-04 20:06] vsubramani commented on #199
@GavinOsborn, we just released a patch version 1.1.1. In this we have both the old functionality (Deploy, Continuous Deploy etc.) along with new one (Run on Kubernetes).

We'll follow your suggestion to phase out the older functionality over a few releases. Thanks for the suggestion.

Hope this works for you and your org.

[2020-02-04 21:52] GavinOsborn commented on #198
Thanks Sujit. Will test it out today and get back to you.

[2020-02-04 21:54] GavinOsborn commented on #199
👍

[2020-02-04 22:03] #86 closed

[2020-02-04 22:04] jmah-cc commented on #86
This functionality is available in v1.1.0

[2020-02-04 22:06] jmah-cc commented on #149
This is fixed in release v1.1.0 @zoftdev

[2020-02-04 22:06] #149 closed

[2020-02-04 22:07] jmah-cc commented on #171
This is fixed in the latest release @remoe

[2020-02-04 22:07] #171 closed

[2020-02-04 22:07] jmah-cc commented on #163
This has been fixed in the latest release (v1.1.0) @patflynn

[2020-02-04 22:07] #163 closed

[2020-02-04 22:09] jmah-cc commented on #189
This functionality has been added to the latest release (v1.1.0) @remyleone

[2020-02-04 22:09] #189 closed

[2020-02-04 23:05] redborian commented on #169
This issue seems to be due to one of our dependent packages leveraging shelljs. Our next release will stop focusing YAML logs if any error appears. That should slightly alleviate this problem. It will give us more time to come up with a good fix for this issue.

[2020-02-05 00:35] jmah-cc commented on #186
We are deprecating the commands '_Cloud Code: Deploy'_ and '_Cloud Code: Continuous Deploy'_ commands in favor of a single '_Cloud Code: Run on Kubernetes'_ command (available in the latest release), which doesn't show the Deployment Wizard. You can edit the profile information using the skaffold.yaml IntelliSense @remyleone

[2020-02-05 00:35] #186 closed

[2020-02-05 02:38] GavinOsborn commented on #198
Hey Sujit, just to confirm I can no longer replicate the issue. 👍

[2020-02-05 06:22] sujit-kamireddy commented on #198
That's great to know. Thanks for verifying Gavin.

[2020-02-05 06:22] #198 closed

[2020-02-05 15:44] kschaab opened #202 "Cannot deploy to GKE cluster with IAP enabled"
Cloud Code extension 1.1.1 - user cannot deploy to GKE cluster where IAP is enabled.  Required directions and/or fixes to get this working.

[2020-02-05 16:09] sujit-kamireddy commented on #202
@kschaab , can you elaborate? Is this a regression?

[2020-02-05 16:28] kschaab commented on #202
Not a regression, we have a user attempting to do this and it isn't working.  Currently looking into what is necessary to get it working.

[2020-02-05 18:21] remyleone opened #203 "Add a guidance message in case no Kubernetes manifest are present"
**Environment**:
Extension version: 1.1.1
VSCode version: 1.41.1
OS: darwin

**Description**:

Could you add a message to guide a user to create kubernetes-manifest in case they are not present in the project folder?

**Repro step**:

Open a project with no kubernetes-manifests and try to deploy.

[2020-02-05 18:46] sujit-kamireddy commented on #203
Thanks @remyleone . We will look into this.

[2020-02-05 18:47] sujit-kamireddy commented on #202
Thanks @kschaab

[2020-02-05 21:48] sujit-kamireddy commented on #148
Hi @dmakeroam , we deprecated the old commands 'Cloud Code: Deploy' and 'Cloud Code: Continuous Deploy' in favor of the new command 'Cloud Code: Run on Kubernetes'.

This new command guides you to create a run configuration (in .vscode/launch.json), where you can configure any skaffold.yaml file or skaffold profile.
For more details, please read the [documentation](https://cloud.google.com/code/do

[2020-02-05 21:49] #148 closed

[2020-02-05 21:55] sujit-kamireddy commented on #65
Hi @glevine , we are pleased to let you know that we have added a new command 'Cloud Code: Run on Kubernetes' in our latest release (v1.1.1) that should help with your use cases.

This new command guides you to create a run configuration (in .vscode/launch.json), where you can configure any skaffold.yaml file or skaffold profile. You can create as many run configurations as you would like.

For mo

[2020-02-05 21:55] #65 closed

[2020-02-05 22:01] sujit-kamireddy commented on #82
In the latest release (v1.1.1), we have deprecated the commands 'Cloud Code: Deploy' and 'Cloud Code: Continuous Deploy' in favor of a new command 'Cloud Code: Run on Kubernetes'.

This new command uses the vscode debugger infra to run an app. You can simply click on the "Red Square button in the debug tool window" to stop your deployment.

![image](https://user-images.githubusercontent.com/402175

[2020-02-05 22:02] #82 closed

[2020-02-05 22:15] sujit-kamireddy commented on #199
@GavinOsborn , can you confirm that you were able to use the old commands (Deploy, Continuous Deploy)?

[2020-02-05 22:31] sujit-kamireddy commented on #47
@marcfong , @o1da , @sbulman ,

We are pleased to let you know that we have added a new command 'Cloud Code: Run on Kubernetes' in our latest release (v1.1.1) that provides greater [customization](https://cloud.google.com/code/docs/vscode/running-an-application#customizing_run_configuration)(--watch, --cleanUp, --portForward etc) through run configurations (.vscode/launch.json).

This command shou

[2020-02-06 00:02] GavinRay97 opened #204 "Cloud Build YAML snippets missing on VS Code & Intellij"
The YAML snipped related to Cloud Build functionality that the documentation mentions are not available for either the VS Code or Intellij plugins.

https://cloud.google.com/code/docs/vscode/yaml-editing

[code]

I originally tried with Intellij, did not see them, and assumed it was an issue with the Intellij plugin.

So I tried with VS Code and again did not see the Cloud Build completion options

[2020-02-06 01:15] GavinOsborn commented on #199
Confirmed, and thanks.

We will look at migrating over to new commands shortly 🙂

On Thu, 6 Feb 2020, 09:15 Sujit Kamireddy, <notifications@github.com> wrote:

[2020-02-06 01:17] sujit-kamireddy commented on #199
Great. Thanks @GavinOsborn .

Please file any issues/feedback with the new command.

[2020-02-06 01:17] #199 closed

[2020-02-10 16:56] smakam opened #205 "Need skaffold delete equivalent in cloud code"
**Use case**
After deploying application using cloud code, there is no option to delete all the kubernetes resources. cloud code delete option deletes individual resources but not all the resources in 1 shot.

**Feature**
We need something equivalent of "skaffold delete". Ideally "cloud code"->delete should have done the same.

[2020-02-10 22:32] jmah-cc commented on #202
USer was not using GKE / Cloud Code - N/A!

[2020-02-10 22:32] #202 closed

[2020-02-10 22:32] jmah-cc commented on #124
This was done as a part of Jan release (v1.1.0)

[2020-02-10 22:32] #124 closed

[2020-02-10 22:34] jmah-cc commented on #201
Kamino cloned this issue to [GoogleCloudPlatform/cloud-code-vscode-internal](https://github.com/GoogleCloudPlatform/cloud-code-vscode-internal/issues/1839)

[2020-02-10 22:36] jmah-cc commented on #200
Kamino cloned this issue to [GoogleCloudPlatform/cloud-code-vscode-internal](https://github.com/GoogleCloudPlatform/cloud-code-vscode-internal/issues/1840)

[2020-02-10 22:38] jmah-cc commented on #185
Kamino cloned this issue to [GoogleCloudPlatform/cloud-code-vscode-internal](https://github.com/GoogleCloudPlatform/cloud-code-vscode-internal/issues/1841)

[2020-02-10 22:40] jmah-cc commented on #203
Kamino cloned this issue to [GoogleCloudPlatform/cloud-code-vscode-internal](https://github.com/GoogleCloudPlatform/cloud-code-vscode-internal/issues/1842)

[2020-02-10 22:43] jmah-cc commented on #181
Kamino cloned this issue to [GoogleCloudPlatform/cloud-code-vscode-internal](https://github.com/GoogleCloudPlatform/cloud-code-vscode-internal/issues/1843)

[2020-02-10 22:46] jmah-cc commented on #179
Kamino cloned this issue to [GoogleCloudPlatform/cloud-code-vscode-internal](https://github.com/GoogleCloudPlatform/cloud-code-vscode-internal/issues/1844)

[2020-02-10 22:48] jmah-cc commented on #169
Kamino cloned this issue to [GoogleCloudPlatform/cloud-code-vscode-internal](https://github.com/GoogleCloudPlatform/cloud-code-vscode-internal/issues/1845)

[2020-02-10 22:51] jmah-cc commented on #45
Kamino cloned this issue to [GoogleCloudPlatform/cloud-code-vscode-internal](https://github.com/GoogleCloudPlatform/cloud-code-vscode-internal/issues/1846)

[2020-02-10 22:53] jmah-cc commented on #36
@PrahathessRaghavan: We have a new feature that let's you see information about other APIs and enable them from within the plugin itself, please take a look at the docs: https://cloud.google.com/code/docs/vscode/client-libraries

[2020-02-10 22:53] #36 closed

[2020-02-10 22:54] jmah-cc commented on #131
Kamino cloned this issue to [GoogleCloudPlatform/cloud-code-vscode-internal](https://github.com/GoogleCloudPlatform/cloud-code-vscode-internal/issues/1847)

[2020-02-11 01:23] sujit-kamireddy commented on #205
Hi @smakam ,
We recently added a new command 'Run on Kubernetes' in the release (v1.1.0) that provides several [customization options](https://cloud.google.com/code/docs/vscode/running-an-application#customizing_run_configuration) including cleanUp.

Please give it a try and let us know if it works for your situation.

_Note that 'Cloud Code: Deploy' and 'Cloud Code: Continuous Deploy' commands wi

[2020-02-11 16:13] jmann-ce commented on #169
Curious on not setting focus on this...

I'm still getting this issue on this version of vs-code:
Version: 1.42.0
Commit: ae08d5460b5a45169385ff3fd44208f431992451
Date: 2020-02-06T10:51:33.119Z
Electron: 6.1.6
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64 19.3.0

[2020-02-11 23:45] jmah-cc commented on #131
@andythehood We revisited this request and we'll be targeting it in our April 2020 release. Thank you for your patience.

[2020-02-12 21:39] jeremychone commented on #169
Same here
Version: 1.42.0
Commit: ae08d5460b5a45169385ff3fd44208f431992451
Date: 2020-02-06T10:51:33.119Z
Electron: 6.1.6
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64 19.3.0

[2020-02-13 20:18] quoctruong commented on #201
@mlamm When we cannot list namespace, we are simply running "kubectl logs <pod-name>" without any namespace specified. One option to fix this is to create a Kubernetes Context with namespace `lalalala` and sets that as the default Kubernetes Context and run view logs with it. Can you try that?

[2020-02-13 23:25] sujit-kamireddy commented on #176
@stefanomiccoli , @GavinOsborn ,
The fix is coming in the next release.

With the fix, output panel will be opened only once, at the start of the deployment.

[2020-02-13 23:41] GavinOsborn commented on #176
That's great, thanks!

On Fri, 14 Feb 2020, 10:25 Sujit Kamireddy, <notifications@github.com>
wrote:

[2020-02-14 06:38] GavinOsborn commented on #176
Hey @sujit-kamireddy just checking - you mean in 1.1.3?
There's something similar in the 1.1.2 release notes but I don't think that's it.

[2020-02-14 06:46] sujit-kamireddy commented on #176
@GavinOsborn , it ll be in either 1.1.3 or 1.2

[2020-02-22 20:25] paulo-mesquita opened #206 "Issue Name"
**Environment**:
Extension version: 1.1.2
VSCode version: 1.41.1
OS: linux

**Description**:

**Repro step**:

[2020-02-24 12:11] mlamm commented on #201
@quoctruong I have already a k8s-context set, running a simple `kubectl get po` in the terminal will list the namespaces' pods without explicity supplying it to the command.

How would the `kubectl logs` command look like?

[code]

Hitting the refresh-Icon within "Logs Viewer" leads to an error-output within the Logs-Viewer:
[code]

[2020-02-24 18:08] quoctruong commented on #206
@paulo-mesquita I think you forgot to fill in the description of the issue. I will close this but feel free to open a new one with more description.

[2020-02-24 18:08] #206 closed

[2020-02-24 19:22] quoctruong commented on #201
@mlamm Do you mind showing a GIF of the original repro step? The `kubectl logs` would be something like `kubectl logs <name-of-pod>`

[2020-02-25 08:17] mlamm commented on #201
I can't share my real cluster info. However, I tried to reproduce the issue on minikube, even with the permissions for `k get ns` granted, it still fails with restrictive rbac in place (allowed: k get ns, k get po -n kube-system, k logs -n kube-system, everything else denied).
It fails without any error message, it keeps being stuck at "Loading...". Using the **minikube** context (admin), does not

[2020-02-25 19:02] quoctruong commented on #201
Hmmm I see. I suspect this is because the logs viewer is trying to populate the dropdown with namespaces, deployments, pods, etc. I'll do some more investigation and get back to you.

[2020-02-25 19:06] quoctruong commented on #201
@mlamm If you try running the command with `--all-namespaces` switch, will you get an error?

[2020-02-26 15:06] mlamm commented on #201
@quoctruong are we talking about `k get po --all-namespaces` ?
This was one was previously denied by my rbac-config, I enabled it, the issue is still present.

Meanwhile I upgraded to:
Extension version: 1.1.2
VSCode version: 1.42.1

Since this new version I also notice random "The request is missing a valid API key." popping up in place of the "Loading...", this happens when I try to open the "Lo

[2020-02-26 15:50] kschaab opened #207 "Outstanding command on cluster hangs kubernetes explorer window"
Repro:

Add cluster to kubernetes explorer
Delete the cluster so it no longer exists but is still in the explorer
Expand it
Do anything else to the explorer window while it is attempting to connect to the cluster

Expect that this operation should be async and not block other k8s explorer window operations

[2020-02-26 20:35] quoctruong commented on #201
Yes. This could be a bug in our code because we are running some command with `--all-namespaces`. There is also a bug where we are not showing the errors probably.

[2020-03-02 18:14] sujit-kamireddy commented on #176
@stefanomiccoli , @GavinOsborn , This has been fixed in the latest release (1.2).

[2020-03-02 18:14] #176 closed

[2020-03-02 18:30] quoctruong commented on #201
@mlamm This has been improved in the recently released version. Please try it out!

[2020-03-02 22:23] redborian commented on #197
This should be fixed in the latest version of Cloud Code (v1.2.0). Feel free to reopen this issue if you still see the issue.

[2020-03-02 22:23] #197 closed

[2020-03-02 22:23] redborian commented on #181
This should be fixed in the latest version of Cloud Code (v1.2.0). Feel free to reopen this issue if you still see the issue.

[2020-03-02 22:23] #181 closed

[2020-03-02 22:23] redborian commented on #169
This should be fixed in the latest version of Cloud Code (v1.2.0). Feel free to reopen this issue if you still see the issue.

[2020-03-02 22:23] #169 closed

[2020-03-03 07:06] mlamm commented on #201
Extension version: 1.2.0
VSCode version: 1.42.1

On first attempt to view logs on a pod I do get presented with the following error in the "Logs Viewer" where normally the log-messages are:

On 2nd and subsequent tries:

[2020-03-04 10:50] Mopangel opened #216 "Issue Name"
**Environment**:
Extension version: 1.2.0
VSCode version: 1.42.1
OS: win32

**Description**:

**Repro step**:

[2020-03-04 19:01] sujit-kamireddy commented on #216
Please file the issue with details.

[2020-03-04 19:01] #216 closed

[2020-03-05 17:53] sollo387420489-user262144 opened #218 "Issue Name"
**Environment**:
Extension version: 1.2.0
VSCode version: 1.43.0-insider
OS: win32

**Description**:

**Repro step**:

[2020-03-05 17:53] sollo387420489-user262144 commented on #218
Workspace
{
  "textDocuments": [
    {
      "fileName": ".mailmap",
      "isUntitled": false,
      "languageId": "plaintext",
      "uri": "file:///c%3A/Users/sollo/Desktop/.mailmap"
    }
  ]
}
Configs
{
  "folder": {
    "inherited": {
      "languageIdsEnabled": "default",
      "locales": "default"
    },
    "languageIdsEnabled": [
      "asciidoc",
      "c",
      "cpp",
      "csharp",

[2020-03-05 17:53] sollo387420489-user262144 commented on #218
[kmihovny.c.txt](https://github.com/GoogleCloudPlatform/cloud-code-vscode/files/4294338/kmihovny.c.txt)

[2020-03-09 20:28] jmah-cc commented on #218
@sollo387420489-user262144 Can you describe the exact issue you're having? Did not see a description or repro steps.

[2020-03-09 20:31] jmah-cc commented on #218
Please re-open the issue with more details.

[2020-03-09 20:31] #218 closed

[2020-03-10 08:44] quoctruong commented on #201
I see. I think there is another bug with listing nodes that needs to be fixed here. Thanks for the info!

[2020-03-17 00:16] jthegedus opened #219 "Feature Request: Support AppEngine & AppEngine Flex"
**Feature**

AppEngine deployments are supported with the [Cloud Code IntelliJ plugin](https://github.com/GoogleCloudPlatform/cloud-code-intellij). Feature parity here would be good so I do not have to use two editors for different projects.

EDIT: Sorry, didn't see https://github.com/GoogleCloudPlatform/cloud-code-vscode/issues/138 until after submitting this request.

[2020-03-17 08:46] Nithinbs18 opened #220 "Add custom templates to create new projects"
Dear team,

I currently work on ML projects and would love to have an option to add new templates from which I can create a new project. Currently, the available templates are great but each time I create a new project I would have to do a lot of redundant changes before the development starts.
If I would get an option to add custom templates to have a predefined template suitable for my work.
Tha

[2020-03-22 16:11] Mistic92 opened #221 "Project without CloudBuild api enabled cause infinite loop of creating python.exeIssue Name"
**Environment**:
Extension version: 1.2.0
VSCode version: 1.43.1
OS: win32

**Description**:
My laptop got blue screen two times. Then I started monitoring what's going on and I saw dozens of python.exe process in regular process explorer. I downloaded advanced one for windows and I saw that all of them are related to vscode. After opening vscode process explorer I saw that CloudCode extension is

[2020-03-23 17:41] quoctruong commented on #221
@Mistic92 Thank you for reporting the issue. We will investigate the issue.

[2020-03-23 20:33] jmah-cc commented on #221
Kamino cloned this issue to [GoogleCloudPlatform/cloud-code-vscode-internal](https://github.com/GoogleCloudPlatform/cloud-code-vscode-internal/issues/2085)

[2020-03-23 20:36] jmah-cc commented on #205
@smakam please try out the new command based on Sujit's feedback and re-open the issue if you have any other comments.

[2020-03-23 20:36] #205 closed

[2020-03-23 20:38] jmah-cc commented on #219
As mentioned in the other bug, we don't have plans for supporting this in the near future. Thanks for the request though, please upvote the other issue to help us prioritize this for future.

[2020-03-23 20:38] #219 closed

[2020-03-23 21:49] jthegedus commented on #219
No worries. It's not clear that up-voting a closed GitHub issue will result in the issue being addressed.

[2020-03-23 21:51] jthegedus commented on #138
To those finding this issue in the future, as mentioned in the other linked issue, up-voting this will help the team asses whether or not this will be reopened and addressed.

[2020-03-25 10:58] Mistic92 commented on #221
Today I got update of CloudCode to 1.2.1 and it's happening even when I have cloud build enabled.

https://drive.google.com/file/d/1mobzgLeXqy_4WkuSvjJP6WEgIrzBjZoj/view?usp=sharing
https://drive.google.com/file/d/1in0C4mw989SQ5EqikqZoRHmMWPdZxCdW/view?usp=sharing

[2020-03-25 18:42] quoctruong commented on #221
@Mistic92 I see. The patch was to fix an issue with gcloud. We're still investigating this issue and will update you soon!

[2020-03-25 20:37] kschaab commented on #221
@Mistic92 - please give us the result of running `"%LOCALAPPDATA%\Google\Cloud SDK\google-cloud-sdk\bin"\gcloud version`.

[2020-03-26 13:29] Mistic92 commented on #221
I found that this extension is not causing issue but the other one. I'm closing this issue as it's not related.
https://github.com/an0rak-dev/vscode-gcp-cloudbuild

[2020-03-26 13:29] #221 closed

[2020-04-03 13:25] Freyert opened #223 "Add Configuration to Existing Project is broken"
**Environment**:
*(Hint: "Report Extension Issue on Github" command will fill these out for you.)*
Extension version: 1.2.1
VSCode version: 1.43.2
OS: macOs Catalina 10.15.3

**Description**:
Trying to add configuration to an existing go project.

**Repro step**:
[code]
and then I don't get the configuration wizard as described in the documentation.

[2020-04-07 22:55] jdegraft opened #224 "GKE Explorer does not work in windows 10"
**Environment**:
Extension version: 1.2.1
VSCode version: 1.43.2
OS: win32

**Description**:
For some reason, after the login in process, gcp project and cluster information does not show in gke explorer.
My project is setup fine because this works in macos.
Also when I try to create cluster using gke explorer, it identifies the project, and passes the test that APIs are enabled, but fails when lo

[2020-04-08 11:20] o1da commented on #47
Hi @sujit-kamireddy it works pretty well, thank you very much!

[2020-04-09 02:24] sujit-kamireddy commented on #47
@o1da , Thank you for confirming!

[2020-04-09 02:24] #47 closed

[2020-04-09 03:03] sujit-kamireddy commented on #223
Hi @Freyert ,
Does your workspace have kubernetes manifests (yaml files)?

[2020-04-10 03:48] nnennajohn commented on #223
@Freyert , I ran into the same problem. It worked after I did `gcloud components install skaffold` and `gcloud components install skaffold`. @sujit-kamireddy I was following your voting example video from Next. I am wondering if it worked for you as you likely already had those installed. Or maybe its some other issue. Not sure.

[2020-04-12 13:43] tbvl opened #225 "Cannot start debugger for .NetCore project"
**Environment**:
Extension version: 1.2.1
VSCode version: 1.44.0
OS: darwin
ms-dotnettools.csharp: 1.21.16

**Description**:
When starting the debugger for .NET core project you get "_Extensions ms-vscode.csharp needed for debugging. Please install or enable them."_ but it is not possible to find extension in market place with that identifier.
The extension has changed marketplace ID from ms-vscod

[2020-04-13 16:43] quoctruong commented on #225
@tbvl Thank you for reporting the issue. The fix for this will be available in the next release.

[2020-04-13 17:42] kschaab commented on #224
Are you getting UAC prompt for elevation or something?  If you go to the terminal in VS Code can you type gcloud auth login and does it run?

[2020-04-13 18:49] jdegraft commented on #224
Yes,

When I run gcloud auth login it runs fine.

Verified that I was connected in the terminal, by setting project id and listing clusters in project.

Both work.

But at that point when I go to GKE Explorer and refresh, it does not load.

Also whiles playing with it, I noticed this.

When I click to add cluster in GKE Explorer sometimes it recognizes my project sometimes it doesn’t.

By that I m

[2020-04-14 02:15] sujit-kamireddy commented on #223
Thanks @nnennajohn .
I think it could be one of the below two issues.
-> The workspace does not have any kubernetes manifests.
-> Necessary dependencies are not installed.

We are improving the messaging around both the above issues in the upcoming release.

[2020-04-16 01:20] shyamasndr opened #226 "Task configuration" Attach App on Kubernetes Cluster: .NET Core" is looking for omnisharp though it is installed."
**Environment**:
Extension version: 1.2.1
VSCode version: 1.44.1
OS: win32

I'm trying to attach dotnet core app running on Kubernetes pod using task configuration "Attach App on Kubernetes Cluster: .NET Core" But I get error "Extensions ms-vscode.csharp needed for debugging. Please install or enable them.", though the  extension ominisharp is installed. Looks like the ominisharp extension id is c

[2020-04-16 01:23] #226 closed

[2020-04-16 08:50] ewuknadierf opened #227 "hanging while installing dependencies"
**Environment**:
Extension version: 1.2.1
VSCode version: 1.45.0-insider
OS: linux

**Description**:
I used the plugin for a while, and was really happy with it.
Then I clicked something like 'install dependencies' (sorry, can't really remember).
The plugin tries to 'Installing dependencies' (message box in the lower right corner), and the Kubernetes Explorer in the left menu is not working anymor

[2020-04-17 11:44] ewuknadierf commented on #227
Just solved by myself with setting `Auto dependencies` to `OFF`

[2020-04-18 18:52] TheStreet321 opened #228 "Issue Name"
**Environment**:
Extension version: 1.2.1
VSCode version: 1.45.0-insider
OS: win32

**Description**:

**Repro step**:

[2020-04-18 18:53] #228 closed

[2020-04-24 19:22] juan-borrero commented on #224
Hello, its happening to me the same thing, gke explorer not show my gcp projects but if i try to create a new cluster i can select all of them.

[2020-04-27 15:22] kschaab commented on #224
Are you getting this in the explorer window:
![image](https://user-images.githubusercontent.com/7329029/80389613-222f8900-8860-11ea-90e8-666e687b9c0e.png)

If so, when you click on it, do you get a terminal window with just this (and no other output):
![image](https://user-images.githubusercontent.com/7329029/80389468-fa402580-885f-11ea-9ce3-cdcfa854677d.png)

Does a browser window open?

[2020-04-27 15:25] jdegraft commented on #224
Yes,

A browser windows opens and I authenticate.

It just doesn’t show clusters.

In the terminal when I run gcloud container list clusters I get my list of clusters.

From: Keith Schaab <notifications@github.com>
Sent: Monday, April 27, 2020 10:23 AM
To: GoogleCloudPlatform/cloud-code-vscode <cloud-code-vscode@noreply.github.com>
Cc: James deGraft-Johnson <jdegraft_johnson@msn.com>; Author <auth

[2020-04-27 15:26] kschaab commented on #227
Thanks for the report @ewuknadierf.  We are making some changes in the next release which should address this problem.

[2020-04-27 15:31] kschaab commented on #220
It would be a while before we added such functionality.  Would you mind elaborating on what your workflow is so that we might get an idea of things that might be helpful in the meanwhile?  For example, if you were to clone a repo from github or start with existing code, what pieces do you need from the template that help you?